
%div{class: 'grid_16 box'}
  %h1 Teams
  = image_tag 'team.jpeg', class: 'image_left'
  %p  I am a member of a team, and I rely on the team, I defer to it and sacrifice for it, because the team, not the individual, is the ultimate champion.
  %p Mia Hamm

%div{class: 'grid_16'}
  %table
    %thead
      %tr
        %td{class: 'grid_7'}
          %h2= Team.genders[0]
        %td{class: 'grid_7'}
          %h2= Team.genders[1]
    %tbody
      - @teams_by_year_and_gender.each do |year, boys_and_girls|
        %tr
          %td{class: 'grid_7'}
            - boys_and_girls[0].each do |team|
              %h3= link_to team, team
          %td{class: 'grid_7'}
            - boys_and_girls[1].each do |team|
              %h3= link_to team, team

