
= cms_region(@web_parts, 'teams.overview', :div, ['grid_16', 'box'])

- genders = ['Girls', 'Boys']
- years = (1999..2009)
%div.grid_16
  %h2
    %div.grid_3
      Year
    - genders.each do |gender|
      %div.grid_5
        = gender
  %h3
    - years.each_with_index do |year, i|
      - row = (i % 2 == 0 ? 'even' : 'odd')
      %div{class: row}
        %div.grid_3
          - if year == years.end
            Academy
          - else
            = year
        - genders.each do |gender|
          %div.grid_5
            - teams = @teams[[year, gender]]
            - if teams
              - teams.each do |team|
                = link_to "#{team_name(team)}",  team_path(team['id'])
                %br
            - else
              &nbsp;

        %div.clear

