- content_for :css do
  = stylesheet_link_tag "team"

%div.grid_6.box
  %h1= "#{@team}"
  %hr
  %h2{id: 'info'}
    Coach:
    = link_to "##{@team.coach.id}", :class => 'coachlink', :rel => "#coach#{@team.coach.id}", :style => 'font-size: 18px;', :data => {:coach_id => "#{@team.coach.id}"} do
      =" #{@team.coach.name}"
    %br
    %h2{id: 'managers'}
      Manager:

  %div.box
    %h2 Roster
    %div{id: 'roster', class: 'scroll-box'}

%div.grid_10
  = image_tag image_path(@team.image), alt: "Team Photo", height: 416, width: 555

%div.clear

%div.grid_16.box
  %h2
    Schedule
    %span{id: 'record'}
      = "#{Time.now.year} Record: "

  %div{id: 'schedule', class: 'scroll-box'}

%div.clear
%div.grid_16.box
  %h2 Team News
  - @article.each do |article|
    %div{class: 'grid_16'}=article.title
    %div{class: 'grid_16'}=image_tag article.image
    %div{class: 'grid_16'}= article.body.html_safe

%hr.grid_16
%p= link_to 'Return to Teams', teams_path

%script{id: 'CoachTemplate', type: 'text/html'}
  %div{id: 'simplemodal'}
    %img{class: 'coachImage', src: '{{:image_url}}'}
    %div
      %h3= '{{:name}}'
      %p= '{{:bio}}'
    %div{class: 'teams'}
      %h3= t "coach.teams"
      %ul
        = '{{for teams}}'
        %li
          %a{href: '/teams/{{:id}}'}= '{{:name}}'
        = '{{/for}}'

- content_for :javascript do
  =javascript_include_tag "team"
