%div{class:'grid_16'}TODO: Team photo goes here
%h1{class: 'grid_16'}= @team
%h2{class: 'grid_16'}= "Coached by #{@team.coach}"
<!-- Nice to have the same overlay we use on the coach page available here when clicking on the coach -->
- @article.each do |article|
  %div{class: 'grid_16'}=article.title
  %div{class: 'grid_16'}=image_tag article.image
  %div{class: 'grid_16'}= article.body.html_safe

%hr
= link_to 'Return to Teams', teams_path
