- content_for :css do
  = stylesheet_link_tag "team"

%div.grid_16
  %center
    %h1= "#{@team}"
    %hr

%div.grid_5.omega
  %h3{id: 'info'}
    = t('team.coach')
    = link_to "##{@team.coach.id}", :class => 'coachlink', :rel => "#coach#{@team.coach.id}", :style => 'font-size: 18px;', :data => {:coach_id => "#{@team.coach.id}"} do
      =" #{@team.coach.name}"
  %h3{id: 'managers'}
    = t('team.manager')

  %div.box
    %h2
      = link_to @team.teamsnap_roster_url do
        = t('team.roster')
    %div{id: 'roster', class: 'scroll-box'}
      %div#roster_progress

%div.grid_11
  %center
    = image_tag image_path(@team.image), alt: "Team Photo", height: "#{Team::IMAGE_HEIGHT}", width: "#{Team::IMAGE_WIDTH}"

%div.clear

%div.grid_16.box
  %h2
    = link_to @team.teamsnap_schedule_url do
      = t('team.schedule')

  %div{id: 'schedule', class: 'scroll-box'}
    %div#schedule_progress

%div.clear
- if not @articles.nil?
  %div.grid_16.box
    %h2= t('team.news')
    - @articles.each do |article|
      - if not article.image.to_s.blank?
        %div.grid_15=image_tag article.image
      %a{name: article.to_param}
      %h3.grid_15=article.title
      %div.clear
      %div.grid_15= article.body.html_safe
      %p.grid_15= "Published: #{article.updated_at.strftime('%m/%d/%Y')}"
      %hr

%hr.grid_16
%p= link_to t('team.back'), teams_path

%div#coach_dialog
  %div#coach_details

%script{id: 'CoachTemplate', type: 'text/html'}
  %div{id: 'simplemodal'}
    %img{class: 'coachImage', src: '{{:image_url}}'}
    %div
      %h3= '{{:name}}'
      %p= '{{:bio}}'
    %div{class: 'teams'}
      %h3= t "coach.teams"
      %ul
        = '{{for teams}}'
        %li
          %a{href: '/teams/{{:id}}'}= '{{:name}}'
        = '{{/for}}'

- content_for :javascript do
  =javascript_include_tag "team"
