- content_for :css do
  = stylesheet_link_tag "team"

%div.grid_16
  %center
    %h1= "#{@team}"
    %hr

%div.grid_6.box
  %h3{id: 'info'}
    = t('team.coach')
    = link_to "##{@team.coach.id}", :class => 'coachlink', :rel => "#coach#{@team.coach.id}", :style => 'font-size: 18px;', :data => {:coach_id => "#{@team.coach.id}"} do
      =" #{@team.coach.name}"
  %h3{id: 'managers'}
    = t('team.manager')

  %div.box
    %h2
      = link_to @team.teamsnap_roster_url do
        = t('team.roster')
    %div{id: 'roster', class: 'scroll-box'}

%div.grid_10
  = image_tag image_path(@team.image), alt: "Team Photo", height: "#{TeamImageUploader::ImageSize::HEIGHT}", width: "#{TeamImageUploader::ImageSize::WIDTH}"

%div.clear

%div.grid_16.box
  %h2
    = link_to @team.teamsnap_schedule_url do
      = t('team.schedule')
    %span{id: 'record'}
      = "#{Time.now.year} #{t('team.record')} "

  %div{id: 'schedule', class: 'scroll-box'}

%div.clear
- if not @articles.nil?
  %div.grid_16.box
    %h2= t('team.news')
    - @articles.each do |article|
      - if not article.image.to_s.blank?
        %div.grid_16=image_tag article.image
      %h3.grid_16=article.title
      %div.clear
      %div.grid_16= article.body.html_safe
      %p.grid_16= "Published: #{article.updated_at.strftime('%m/%d/%Y')}"
      %hr

%hr.grid_16
%p= link_to t('team.back'), teams_path

%script{id: 'CoachTemplate', type: 'text/html'}
  %div{id: 'simplemodal'}
    %img{class: 'coachImage', src: '{{:image_url}}'}
    %div
      %h3= '{{:name}}'
      %p= '{{:bio}}'
    %div{class: 'teams'}
      %h3= t "coach.teams"
      %ul
        = '{{for teams}}'
        %li
          %a{href: '/teams/{{:id}}'}= '{{:name}}'
        = '{{/for}}'

- content_for :javascript do
  =javascript_include_tag "team"
