- content_for :css do
  = stylesheet_link_tag "coach"

%div.grid_6
  %h1= "Team: '#{@team}"
  %hr
  %h2.alt
    Coached by
    = link_to "##{@team.coach.id}", :class => 'coachlink', :rel => "#coach#{@team.coach.id}", :data => {:coach_id => "#{@team.coach.id}"} do
      =" #{@team.coach.name}"
  %p= "Email: #{@team.coach.email}"
  %hr
  %h2.alt= "Managed by #{@team.manager_name}"
  %p
    = "Phone: #{@team.manager_phone}"
    %br
    = "Email: #{@team.manager_email}"
  %h2.alt
    = "#{Time.now.year} Record"
  %p
    League
    %br
    Overall
  %p
    %a{href: "#{@team.teamsnap_url}"}
      TeamSnap Login

%div.grid_10.box
  = image_tag image_path(@team.image), alt: "Team Photo", height: 363, width: 555

%div.clear

%div.grid_8.box
  %h2 Schedule
  %p goes here
%div.grid_8.box
  %h2 Roster
  %p Team members here

%div.clear
%div.grid_16.box
  %h2 Team News
  - @article.each do |article|
    %div{class: 'grid_16'}=article.title
    %div{class: 'grid_16'}=image_tag article.image
    %div{class: 'grid_16'}= article.body.html_safe

%hr.grid_16
%p= link_to 'Return to Teams', teams_path

%script{id: 'CoachTemplate', type: 'text/html'}
  %div{id: 'simplemodal'}
    %img{class: 'coachImage', src: '{{:image_url}}'}
    %div
      %h3= '{{:name}}'
      %p= '{{:bio}}'
    %div{class: 'teams'}
      %h3= t "coach.teams"
      %ul
        = '{{for teams}}'
        %li
          %a{href: '/teams/{{:id}}'}= '{{:name}}'
        = '{{/for}}'

- content_for :javascript do
  =javascript_include_tag "coaches"
  =javascript_include_tag "team"
