= form_for :csv, :url=>{:action=>"import_csv"}, :html => { :multipart => true } do |f|
  %fieldset.inputs
    %legend
      %span
        Please, select file to import
    %ol
      %li
        %h3
          Warnings:
          %ul
            %li
              Don't edit CSV in Microsoft Excel 2011 on Mac
            %li
              All #{@model} records are replaced during this operation. <a href="#{admin_events_path}.csv">Download and edit CSV</a> if you want to update records.


      %li.file.input.optional
        %label.label{for: 'active_admin_import_model_file'}
          File
        = f.file_field :file, id: 'active_admin_import_model_file', accept: '.csv'
  %fieldset.actions
    %ol
      %li.action.input_action
        = submit_tag 'Import', data: {'disable-with': 'Wait...'}


