
Notes:
%ul
  %li Use the All row to update all fields at once.
  %li Changes to a field status are immediately saved.

%table.index_table
  %thead
    %tr
      %th Field
      - Field::STATES.each_with_index do |state, index|
        %th=link_to state.to_s.capitalize, "#", {:title => "Click here to set all fields to #{state}", :onclick => "setAllFieldsState('#{index}')"}

  %tbody
    - @fields.each do |field|
      %tr{:class => cycle('odd', 'even')}
        %td
          = field.name
        - Field::STATES.each_with_index do |state, index|
          %td
            = radio_button_tag "#{field.id}", index, field.state_id == index, :class => "field"

:javascript
  function saveFieldsState(fields, state_id) {
    $.get('update_fields_status', {fields: fields, state_id: state_id})
  }

  function setAllFieldsState(state_id) {
    var changedFields = []
    $('input[type=radio].field').each(function() {
      if ($(this).attr("value") == state_id && $(this).prop('checked') == false) {
        $(this).prop('checked', true)
        changedFields.push($(this).prop("name"))
      }
    });
    if (changedFields.length > 0) {
      saveFieldsState(changedFields, state_id)
    }
  };

  $('input[type=radio].field').change(function() {
    saveFieldsState($(this).attr("name"), $(this).attr("value"))
  });
