= semantic_form_for [:admin, @article], :html => {:multipart => true} do |f|

  .language-tabs
    %ul.language-selection
      - @article.translations.each do |lang|
        %li= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}"

    = f.semantic_fields_for :translations do |lf|
      %div{:id => "lang-#{lf.object.locale}"}
        = f.inputs do
          = lf.input :title
          = lf.input :body, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Easy', :language => "#{lf.object.locale}", :scayt_sLang => "#{SPELLCHECK_LANGUAGES[lf.object.locale.to_sym]}"}}
          = lf.input :locale, :as => :hidden

  = f.inputs do
    = f.input :crop_x, :as => :hidden
    = f.input :crop_y, :as => :hidden
    = f.input :crop_w, :as => :hidden
    = f.input :crop_h, :as => :hidden
    = f.input :image, :as => :file, :hint => f.object.image.url().blank? ?  f.template.image_tag("no_image.png", :id => "cropbox") : f.template.image_tag(f.object.image.url(), :id => "cropbox")

    %div.error

    = f.input :category_id, :collection => Article::ARTICLE_CATEGORY.each_with_index.map {|c, index| [c.to_s, index]}, :as => :select, :label => "Category"
    = f.input :team_id, :collection => @teams, :as => :select, :label => "Team", :include_blank => false
    = f.input :coach_id, :collection => @coaches, :as => :select, :label => "Coach", :include_blank => false
    = f.input :author, :as => :hidden, :value => current_user

  = f.actions do
    = f.action :submit, :label => true
    = f.action :cancel, :as => :link, :label => I18n.t('active_admin.cancel'), :wrapper_html => { :class => 'cancel' }

:javascript
  function category_changed() {
    switch($('#article_category_id option:selected').text()) {
      case 'team':
        $('#article_team_id_input').show();
        $('#article_coach_id_input').hide();
        break;
      case 'coach':
        $('#article_coach_id_input').show();
        $('#article_team_id_input').hide();
        break;
      default:
        $('#article_team_id_input').hide();
        $('#article_coach_id_input').hide();
    }
  }

  $('.language-tabs').tabs();
  $('#article_category_id').change(category_changed);

  category_changed();

  $(document).ready(soccer.image_crop.init({
    modelName: 'article',
    width: #{ArticleImageUploader::ImageSize::WIDTH},
    height: #{ArticleImageUploader::ImageSize::HEIGHT}
  }));