= semantic_form_for [:admin, @article], :html => {:multipart => true} do |f|

  .language-tabs
    %ul.language-selection
      - @article.translations.each do |lang|
        %li= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}"

    = f.semantic_fields_for :translations do |lf|
      %div{:id => "lang-#{lf.object.locale}"}
        = f.inputs do
          = lf.input :title
          = lf.input :body, :as => :ckeditor, :input_html => {:namespace => 'translation', :language => "#{lf.object.locale}", :scayt_sLang => "#{SPELLCHECK_LANGUAGES[lf.object.locale.to_sym]}"}
          = lf.input :locale, :as => :hidden

  = f.inputs do
    = image_tag @article.image_url unless @article.image_url.blank?
    = f.input :image, :as => :file
    = f.input :category_id, :collection => Article::ARTICLE_CATEGORY.each_with_index.map {|c, index| [c.to_s, index]}, :as => :select, :label => "Category"
    = f.input :subcategory_id, :collection => Team.all(:order => 'age asc'), :label => 'to_team_name_with_coach', :as => :select, :label => "Team"
    = f.input :carousel

  = f.actions do
    = f.action :submit, :label => true
    = f.action :cancel, :as => :link, :label => I18n.t('active_admin.cancel'), :wrapper_html => { :class => 'cancel' }

:javascript
  $('.language-tabs').tabs();