= semantic_form_for [:admin, @article], :html => {:multipart => true} do |f|

  .language-tabs
    %ul.language-selection
      - @article.translations.each do |lang|
        %li= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}"

    = f.semantic_fields_for :translations do |lf|
      %div{:id => "lang-#{lf.object.locale}"}
        = f.inputs do
          = lf.input :title
          = lf.input :body, :as => :ckeditor, :input_html => {:namespace => 'translation', :language => "#{lf.object.locale}", :scayt_sLang => "#{SPELLCHECK_LANGUAGES[lf.object.locale.to_sym]}"}
          = lf.input :locale, :as => :hidden

  = f.inputs do
    = image_tag @article.image_url unless @article.image_url.blank?
    = f.input :image, :as => :file
    = f.input :category_id, :collection => Article::ARTICLE_CATEGORY.each_with_index.map {|c, index| [c.to_s, index]}, :as => :select, :label => "Category"
    = f.input :team_id, :collection => @teams, :as => :select, :label => "Team", :include_blank => false
    = f.input :coach_id, :collection => @coaches, :as => :select, :label => "Coach", :include_blank => false

  = f.actions do
    = f.action :submit, :label => true
    = f.action :cancel, :as => :link, :label => I18n.t('active_admin.cancel'), :wrapper_html => { :class => 'cancel' }

:javascript
  function category_changed() {
    switch($('#article_category_id option:selected').text()) {
      case 'team':
        $('#article_team_id_input').show();
        $('#article_coach_id_input').hide();
        break;
      case 'coach':
        $('#article_coach_id_input').show();
        $('#article_team_id_input').hide();
        break;
      default:
        $('#article_team_id_input').hide();
        $('#article_coach_id_input').hide();
    }
  }

  $('.language-tabs').tabs();
  $('#article_category_id').change(category_changed);

  category_changed();