

%div.language-tabs
  %ul.language-selection
    - @article.translations.each do |lang|
      %li= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}"

  - @article.translations.each do |lang|
    %div{:id => "lang-#{lang.locale}"}
      %hr
      = image_tag (@article.image) unless (@article.image.blank?)
      %h3= lang.title
      %p= lang.body.html_safe

%ul
  %li= "Category: #{@article.category.to_s}"
  - unless @article.team_id != ''
    %li= Team.to_team_name_with_coach(@article.team_id)
  %li= "Created at #{@article.created_at}"
  %li= "Last updated #{@article.updated_at}"

:javascript
  $('.language-tabs').tabs();