%h1.grid_16=t('news.heading')

- @articles.each do |article|
  %div.box.grid_16
    %a{name: article.to_param}
    %h2= article.title
    -if not article.image.to_s.empty?
      =image_tag article.image, height: "#{ArticleImageUploader::ImageSize::HEIGHT}", width: "#{ArticleImageUploader::ImageSize::WIDTH}", :alt => article.title, :title => article.title, style: 'float: left; margin: 5px;'
    %p= article.body.html_safe
    %br="Publish: #{article.updated_at.strftime("%m/%d/%Y")}"

