- if progress == 100
  .jumbotron
    %h2
      Upcoming Events
      - @events.each do |event|
        - details = event.age_specific_details(@player_portal.gender, @player_portal.birthday, @player_portal.id)
        - if details.length > 0
          = form_tag player_portal_events_path do
            - selected = 0
            = hidden_field_tag('event', event.id)
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  = event.title
              .panel-body
                %p
                  = event.description.html_safe
                %p
                  = "Cost: #{number_to_currency(event.cost)} / session"
                %p
                  If you'd like to attend, select the dates below and click the register button.
                %ul.list-group{id: "event_#{event.id}"}
                  - details.each do |detail|
                    %li.list-group-item
                      .small
                        - if detail.player_portal_selected_events.length == 1
                          %span.glyphicon{icon_ok}
                          - selected += 1
                        - else
                          %input{type: :checkbox, name: "event_detail_#{detail.id}", id: "event_detail_#{detail.id}"}
                        %label{for: "event_detail_#{detail.id}"}
                          - if detail.start.nil? && detail.location.nil?
                            The Date, Time, and Location will be announced shortly
                          - else
                            - if detail.start.nil?
                              The Date and Time will be announced shortly
                            - else
                              = "#{l detail.start} - #{(detail.start + detail.length.minutes).strftime('%l:%M %P')} @" unless detail.start.nil?
                            - if detail.location.nil?
                              =t('registration.tryouts.location_tba')
                            - else
                              %a{:href => detail.location.map_url}
                                = "#{detail.location.name} - #{detail.location.address}"

                - unless selected == details.length
                  %h5
                    %table.table.table-striped{data: {description: "#{event.title}"}}
                      %tr
                        %td
                          .text-nowrap
                            Subtotal
                        %td
                          .text-right{id: "event_#{event.id}_subtotal"}
                      %tr
                        %td
                          .text-nowrap
                            Credit Card Fees
                        %td
                          .text-right{id: "event_#{event.id}_fees"}
                      %tr
                        %td
                          .text-nowrap
                            Total
                        %td
                          .text-right{id: "event_#{event.id}_total"}
                    = t('player_portal.registration.payment.types').html_safe
                  %p.text-right
                    %a.btn.btn-primary.btn-lg{href: "#{player_portal_registration_path}", role: "button", id: "event_#{event.id}_button", data: {description: event.title}}
                      = t('player_portal.index.jumbo.button_complete')
