.row
  %h4.info-text
    = t 'player_portal.registration.payment.charges'
  .col-sm-5.col-sm-offset-1
    .well
      = t('player_portal.registration.payment.overview').html_safe
  .col-sm-5
    - @fees.each do |type, fees_info|
      %table.table.table-striped{id: (fees_info[:id]), class: ('hidden' if type == :volunteer), data: {description: '2016 Season Club Registration Fees', amount: fees_info[:total]}}
        - total_row = fees_info[:fees].last
        - fees_info[:fees].each do |fee|
          %tr
            %td
              .text-nowrap{class: ('text-danger' if total_row[0] == fee[0])}
                = fee[0]
            %td
              .text-right{class: ('text-danger' if total_row[0] == fee[0])}
                = fee[1]
    = t('player_portal.registration.payment.types').html_safe