.row
  %h4.info-text
    = t 'player_portal.registration.payment.charges'
  .col-sm-5.col-sm-offset-1
    .well
      = t('player_portal.registration.payment.overview').html_safe
      %p.text-right
        %button.btn.btn-primary.btn{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: "#{url_to_asset(t('player_portal.registration.documents.team_fees.pdf'))}", title: "#{t('player_portal.registration.documents.team_fees.heading')}"}}
          = t 'player_portal.registration.documents.team_fees.button'
  .col-sm-5
    - @fees.each do |type, fees_info|
      %table.table.table-striped{id: (fees_info[:id]), class: ('hidden' if type == :volunteer), data: {description: '2017 Season Club Registration Fees', amount: fees_info[:total]}}
        - total_row = fees_info[:fees].last
        - fees_info[:fees].each do |fee|
          %tr
            %td
              .text-nowrap{class: ('text-danger' if total_row[0] == fee[0])}
                = fee[0]
            %td
              .text-right{class: ('text-danger' if total_row[0] == fee[0])}
                = fee[1]
    = t('player_portal.registration.payment.types').html_safe
.row
  &nbsp;
.row
  .col-sm-12
    .panel.panel-default
      .panel-body
        .row
          .col-sm-10.col-sm-offset-1
            .media
              .media-body
                %h4.media-heading
                  = t 'player_portal.registration.oef.heading'
                = t 'player_portal.registration.oef.overview'
              .media-right
                %img.media-object{src: "#{image_path('scholarship.jpg')}"}
        .row
          .col-sm-10.col-sm-offset-1
            %p.text-right
              %button.btn.btn-primary.btn{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: "#{url_to_asset(t('player_portal.registration.oef.pdf'))}", title: 'On Equal Footing'}}
                = t 'player_portal.registration.oef.info'