- if @player_portal.status?(:proof_of_birth)
  %h4.info-text
    = t 'player_portal.registration.proof_of_birth.have_heading'
- else
  %h4.info-text
    = t 'player_portal.registration.proof_of_birth.need_heading'
.row
  - unless @player_portal.status?(:proof_of_birth)
    .col-sm-12
      .panel.panel-danger
        .panel-heading
          .panel-title
            %span.glyphicon.glyphicon-alert{'aria-hidden':"true"}
            = t 'player_portal.registration.proof_of_birth.upload'
        .panel-body
          .col-sm-5.picture-container
            .picture
              %img.img-responsive.center-block{src: "#{image_path('sample_birth_certificate.jpg')}"}
              %input#wizard-birth{name: 'birth-certificate', type: 'file'}
            %h6
              = t 'player_portal.registration.proof_of_birth.upload_directions'
          .col-sm-7
            .well
              = t('player_portal.registration.proof_of_birth.acceptable').html_safe
  .col-sm-12
    .panel{class: (@player_portal.status?(:picture) ? 'panel-success' : 'panel-danger')}
      .panel-heading
        .panel-title
          %span.glyphicon{class: (@player_portal.status?(:picture) ? 'glyphicon-ok' : 'glyphicon-alert'), 'aria-hidden':"true"}
          = t 'player_portal.registration.picture.upload'
      .panel-body.picture-container
        .col-sm-5.col-xs-12
          .picture
            %img#jcrop.img-responsive.center-block{title: ''}
            %input#wizard-picture{type: "file"}
          %h6
            = t('player_portal.registration.picture.upload_directions').html_safe

        .col-sm-7.col-xs-12
          .panel.panel-default
            .panel-heading
              .panel-title
                = t 'player_portal.registration.picture.player_pass.title'
            .panel-body
              .col-xs-3.nopadding
                %canvas#canvas.img-responsive
                %input#png{name: 'player-image', type: 'hidden'}
              .col-xs-9.text-left
                .row
                  .col-xs-1
                    = t('player_portal.registration.picture.player_pass.last').html_safe
                  .col-xs-4
                    %b #{@player_portal[:last]}
                .row
                  .col-xs-1
                    = t('player_portal.registration.picture.player_pass.first').html_safe
                  .col-xs-4
                    %b #{@player_portal[:first]}
                .row
                  &nbsp;
                .row
                  .col-xs-1
                    = t('player_portal.registration.picture.player_pass.dob').html_safe
                  .col-xs-4
                    %b #{@player_portal[:birthday].strftime('%m/%d/%Y')}
                  .col-xs-2
                    = t('player_portal.registration.picture.player_pass.expires').html_safe
                  .col-xs-4
                    %b 01/01/2017