.panel.panel-default
  .panel-body
    .row
      .col-sm-10.col-sm-offset-1
        .media
          .media-left
            %img.media-object{src: "#{image_path('friends.jpg')}"}
          .media-body
            %h4.media-heading
              = t 'player_portal.registration.volunteer.heading'
            = t 'player_portal.registration.volunteer.overview'
    .row
      .col-sm-10.col-sm-offset-1
        .form-group
          %h5
            = t 'player_portal.registration.volunteer.preference'
          %select.form-control{name: "volunteer"}
            - PlayerPortal::VOLUNTEER_OPTIONS.each_with_index do |(value, i18n), index|
              %option{value: value, selected: ('' if index == 0)}
                = t(i18n)
.panel.panel-default
  .panel-body
    .row
      .col-sm-10.col-sm-offset-1
        .media
          .media-body
            %h4.media-heading
              Please review the following important documents
              %br
            .col-sm-5
              %button.btn.btn-info{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: url_to_asset(t('player_portal.registration.documents.concussion.pdf')), title: t('player_portal.registration.documents.concussion.heading')}}
                = t 'player_portal.registration.documents.concussion.button'
              %button.btn.btn-primary{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: url_to_asset(t('player_portal.registration.documents.parent_code_of_conduct.pdf')), title: t('player_portal.registration.documents.parent_code_of_conduct.heading')}}
                = t 'player_portal.registration.documents.parent_code_of_conduct.button'
            .col-sm-5.col-sm-offset-1
              %button.btn.btn-info{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: url_to_asset(t('player_portal.registration.documents.post_concussion.pdf')), title: t('player_portal.registration.documents.post_concussion.heading')}}
                = t 'player_portal.registration.documents.post_concussion.button'
              %button.btn.btn-primary{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: url_to_asset(t('player_portal.registration.documents.player_code_of_conduct.pdf')), title: t('player_portal.registration.documents.player_code_of_conduct.heading')}}
                = t 'player_portal.registration.documents.player_code_of_conduct.button'
          .media-right
            %img.media-object{src: "#{image_path('reading.jpg')}"}
      .col-sm-10.col-sm-offset-1
        .well
          %label
            %input.radio-inline{style: 'margin: 0px;', type: 'checkbox', name: 'documents', value: 1, checked: (@player_portal.status?(:docs_reviewed))}
              I have reviewed all of the documents
