.panel.panel-default
  .panel-body
    .row
      .col-sm-10.col-sm-offset-1
        .media
          .media-left
            %img.media-object{src: "#{image_path('friends.jpg')}"}
          .media-body
            %h4.media-heading
              = t 'player_portal.registration.volunteer.heading'
            = t 'player_portal.registration.volunteer.overview'
    .row
      .col-sm-10.col-sm-offset-1
        .form-group
          %h5
            = t 'player_portal.registration.volunteer.preference'
          %select.form-control{name: "volunteer"}
            - PlayerPortal::VOLUNTEER_OPTIONS.each_with_index do |(value, i18n), index|
              %option{value: value, selected: ('' if index == 0)}
                = t(i18n)
  .panel.panel-default
    .panel-body
      .row
        .col-sm-10.col-sm-offset-1
          .media
            .media-body
              %h4.media-heading
                = t 'player_portal.registration.oef.heading'
              = t 'player_portal.registration.oef.overview'
            .media-right
              %img.media-object{src: "#{image_path('scholarship.jpg')}"}
      .row
        .col-sm-10.col-sm-offset-1
          %p.text-right
            %button.btn.btn-primary.btn{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: "#{url_to_asset('on equal footing 2016 - en.pdf')}", title: 'On Equal Footing'}}
              = t 'player_portal.registration.oef.info'