- content_for :css do
  = stylesheet_link_tag 'jquery.Jcrop.min'

.alert.alert-danger.alert-dismissible.collapse#alert{role: "alert"}
  %button.close{type: "button", data: {hide: "alert"}, aria: {label: "Close"}}
    %span{aria: {hidden: "true"}}
      &times;
  .message

/ Declare status tags
- icon_ok = {class: 'glyphicon-ok', style: 'color:green'}

- if params[:success].present?
  .alert.alert-success.alert-dismissible.fade.in{role: "alert"}
    %button.close{type: "button", data: {dismiss: "alert"}, 'aria-label': "Close"}
      %span{'aria-hidden': "true"}
        &times;
    %p.text-center
      = t 'player_portal.index.registration_success'

.panel.panel-default
  .panel-body
    .page-header
      %h1
        = "#{@player_portal.first} #{@player_portal.last}"
        %small
          = t 'player_portal.index.heading'


- progress = @player_portal.status.progress
= render partial: 'event_registration', locals: {progress: progress, icon_ok: icon_ok}

= render partial: 'registration_status', locals: {progress: progress, player_portal: @player_portal, icon_ok: icon_ok}

- content_for :javascript do
  %script{src: "https://checkout.stripe.com/checkout.js"}
  %script
    $(document).ready(player_portal.modalPdf.init());
    $(document).ready(player_portal.modalImg.init());
    - if progress == 100
      - @events.each do |event|
        - details = event.age_specific_details(@player_portal.gender, @player_portal.birthday)
        - if details.length > 0
          $(document).ready(player_portal.event_registration('event_#{event.id}', "#{Rails.application.secrets.stripe_key}"));
