- content_for :css do
  = stylesheet_link_tag 'jquery.Jcrop.min'

/ Declare status tags
- icon_ok = {class: 'glyphicon-ok', style: 'color:green'}
- icon_missing = {class: 'glyphicon-remove', style: 'color:red'}

- if params[:success].present?
  .alert.alert-success.alert-dismissible.fade.in{role: "alert"}
    %button.close{type: "button", data: {dismiss: "alert"}, 'aria-label': "Close"}
      %span{'aria-hidden': "true"}
        &times;
    %p.text-center
      = t 'player_portal.index.registration_success'

%h1
  = t 'player_portal.index.heading', first: @player_portal.first, last: @player_portal.last

.jumbotron
  %h2
    = t 'player_portal.index.jumbo.heading', first: @player_portal.first, year: EventGroup::TRYOUT_YEAR
  = t('player_portal.index.jumbo.body').html_safe

  %p.text-right
    %a.btn.btn-primary.btn-lg{href: "#{player_portal_registration_path}", role: "button"}
      = t 'player_portal.index.jumbo.button'

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = t 'player_portal.index.panel.heading'
        .progress
          .progress-bar{class: (@player_portal.status.progress == 100 ? 'progress-bar-success' : 'progress-bar-info'), role: 'progressbar', aria: {valuenow: @player_portal.status.progress, valuemin: '0', valuemax: '100'}, style: "width: #{@player_portal.status.progress}%"}
            %span.sr-only
              = t 'player_portal.index.panel.sr_status', progress: @player_portal.status.progress
    .panel-body
      %ul
        - PlayerPortal.values_for_status.each do |status|
          %li
            %span.glyphicon{(@player_portal.status?(status) ? icon_ok : icon_missing)}
            = t @player_portal.status.i18n(status)
            - case status
              - when :form
                %a{href: '#', data: {toggle: 'modal', target: '#documentModal', document: "#{player_portal_club_form_path}#Fit", title: 'US Club Form'}}
                  = t 'player_portal.view'
              - when :picture
                - if @player_portal.picture.present?
                  %a{href: '#', data: {toggle: 'modal', target: '#imageModal', document: "https://docs.google.com/uc?id=#{@player_portal.picture}", title: 'Player Pass Picture'}}
                    = t 'player_portal.view'
              - when :proof_of_birth
              - when :paid
              - when :volunteer
                = "- #{t(PlayerPortal::VOLUNTEER_OPTIONS[@player_portal.volunteer_choice.to_sym])}"
        %li
          %span.glyphicon{icon_missing}
          Concussion document acknowledged
        %li
          %span.glyphicon{icon_missing}
          Player & Parent code of conduct acknoledged

- content_for :javascript do
  %script
    $(document).ready(player_portal.modalPdf.init());
    $(document).ready(player_portal.modalImg.init());
    if (!("FormData" in window)) {
    // TODO: Pop a modal and force the user to use another browser
    }