- content_for :css do
  = stylesheet_link_tag 'jquery.Jcrop.min'

- if flash[:notice].present?
  .alert.alert-success.alert-dismissible.fade.in{role: "alert"}
    %button.close{type: "button", data: {dismiss: "alert"}, 'aria-label': "Close"}
      %span{'aria-hidden': "true"}
        &times;
    %p.text-center
      = flash[:notice]


%h1
  = "Player Portal for #{@player_portal.first} #{@player_portal.last}"

.jumbotron
  %h2 Register #{@player_portal.first} for the #{EventGroup::TRYOUT_YEAR} Season
  %p
    Congratulations and Welcome to Central Marin Soccer Club.
  %p
    TODO: Tell the user what documents they'll need to register
  %p
    TODO: Hide the registration once they've completed it

  %p.text-right
    %a.btn.btn-primary.btn-lg{href: "#{player_portal_registration_path}", role: "button"}
      Register

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Status
  .panel-body
    %ul
      %li US Club form complete - Show link to US Club form
      %li Club registration paid - TODO: Show date paid
      %li Concussion document acknowledged
      %li Player & Parent code of conduct acknoledged
      %li Volunteer selected - Show volunteer category selected


