- content_for :css do
  = stylesheet_link_tag 'jquery.Jcrop.min'

.alert.alert-danger.alert-dismissible.collapse#alert{role: "alert"}
  %button.close{type: "button", data: {hide: "alert"}, aria: {label: "Close"}}
    %span{aria: {hidden: "true"}}
      &times;
  .message

.modal.fade#pleaseWaitDialog{tabindex: '-1', role: 'dialog', data: {backdrop: 'static', keyboard: 'false'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3
          = t 'player_portal.registration.processing'
      .modal-body
        .progress{style: 'height: 20px;'}
          .progress-bar.progress-bar-success.progress-bar-striped.active{role: 'progressbar', style: "width: 100%;"}

/ Declare status tags
- icon_ok = {class: 'glyphicon-ok', style: 'color:green'}
- icon_missing = {class: 'glyphicon-remove', style: 'color:red'}

- if params[:success].present?
  .alert.alert-success.alert-dismissible.fade.in{role: "alert"}
    %button.close{type: "button", data: {dismiss: "alert"}, 'aria-label' => "Close"}
      %span{'aria-hidden' => "true"}
        &times;
    %p.text-center
      = t 'player_portal.index.registration_success'

.panel.panel-default
  .panel-body
    .page-header
      %h1
        = "#{@player_portal.first} #{@player_portal.last}"
        %small
          = t 'player_portal.index.heading'


- progress = @player_portal.status.progress

= render partial: 'registration_status', locals: {progress: progress, player_portal: @player_portal, icon_ok: icon_ok, icon_missing: icon_missing}

- content_for :javascript do
  %script
    $(document).ready(player_portal.modalPdf.init());
    $(document).ready(player_portal.modalImg.init());
    var errors = {'amex': "#{t('player_portal.registration.no_amex')}", 'docs': "#{t('player_portal.registration.read_docs')}", 'fiveHundred': "#{t('player_portal.registration.fiveHundred')}"}
