%h1
  = "Player Portal for #{@player_portal.first} #{@player_portal.last}"

%div
  %h2 US Club Form

= link_to "Registration", player_portal_registration_path

%h2 Status
%div
  %ul
    %li US Club form complete - Show link to US Club form
    %li Club registration paid - TODO: Show date paid
    %li Concussion document acknowledged
    %li Player & Parent code of conduct acknoledged
    %li Volunteer selected - Show volunteer category selected

Generate US Club Form PDF on the fly based on the information we have. Need to import more information from
%iframe{src: "#{player_portal_club_form_path}", width: "100%", height: "50%"}



= link_to "Logout", player_portal_logout_path