- content_for :css do
  = stylesheet_link_tag 'jquery.Jcrop.min'

%h1
  = "Player Portal for #{@player_portal.first} #{@player_portal.last}"

%div
  %h2 US Club Form

= link_to "Registration", player_portal_registration_path

//TODO: Notify the user what documents they'll need to complete registration

%h2 Status
%div
  %ul
    %li US Club form complete - Show link to US Club form
    %li Club registration paid - TODO: Show date paid
    %li Concussion document acknowledged
    %li Player & Parent code of conduct acknoledged
    %li Volunteer selected - Show volunteer category selected

= link_to "Logout", player_portal_logout_path

TODO: Add bootstrap Jumbotron

