%h1
  = "Player Portal for #{@player_portal.first} #{@player_portal.last}"

%div
  %h2 US Club Form

Generate US Club Form PDF on the fly based on the information we have. Need to import more information from

  %embed{src: "#{@player_portal.md5}.pdf", type: 'application/pdf'}

= link_to "Logout", player_portal_logout_path