.alert.alert-danger.alert-dismissible.collapse#alert{role: "alert"}
  %button.close{type: "button", data: {hide: "alert"}, aria: {label: "Close"}}
    %span{aria: {hidden: "true"}}
      &times;
  .message

.modal.fade#pleaseWaitDialog{tabindex: '-1', role: 'dialog', data: {backdrop: 'static', keyboard: 'false'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3
          = t 'player_portal.registration.processing'
      .modal-body
        .progress{style: 'height: 20px;'}
          .progress-bar.progress-bar-success.progress-bar-striped.active{role: 'progressbar', style: "width: 100%;"}
.row
  .col-sm-12
    / Wizard container
    .wizard-container
      #wizard.card.wizard-card.ct-wizard-green
        = form_tag player_portal_registration_create_path, multipart: true do
          .wizard-header
            %h3
              %b
                = t 'player_portal.registration.heading'
              = "#{@player_portal[:first]} #{@player_portal[:last]}"
              %br
                = t('player_portal.registration.sub_heading', first: h(@player_portal[:first]), year: Event::TRYOUT_YEAR).html_safe
          %ul
            %li
              %a{data: {toggle: "tab"}, :href => "#us-club-form"}
                = t 'player_portal.registration.tab.form'
            %li
              %a{data: {toggle: "tab"}, :href => "#player-picture"}
                = t 'player_portal.registration.tab.picture', proof: (t('player_portal.registration.tab.birth_proof') unless @player_portal.status?(:proof_of_birth))
            - unless @player_portal.status?(:paid)
              %li
                %a{data: {toggle: "tab"}, :href => "#volunteer"}
                  = t 'player_portal.registration.tab.volunteer'
              %li
                %a{data: {toggle: "tab"}, :href => "#payment"}
                  = t 'player_portal.registration.tab.payment'
          .tab-content
            #us-club-form.tab-pane
              = render partial: 'club_form'
            #player-picture.tab-pane
              = render partial: 'proof_and_picture'
            - unless @player_portal.status?(:paid)
              #volunteer.tab-pane
                = render partial: 'volunteer_docs'
              #payment.tab-pane
                = render partial: 'payment'

          .wizard-footer
            .pull-right
              %input.btn.btn-next.btn-fill.btn-success.btn-wd.btn-sm{:id => 'next', :name => "next", :type => "button", :value => t('player_portal.registration.button.next')}/
              %input.btn.btn-finish.btn-fill.btn-success.btn-wd.btn-sm{:id => 'finish', :name => "finish", :type => "button", :value => t('player_portal.registration.button.complete')}/
            .pull-left
              %input.btn.btn-previous.btn-fill.btn-default.btn-wd.btn-sm{:name => "previous", :type => "button", :value => t('player_portal.registration.button.previous')}/
            .clearfix
          / wizard container
      / row

- content_for :javascript do
  %script{src: "https://checkout.stripe.com/checkout.js"}
  %script
    var defaultImage = "#{@player_portal.status?(:picture) ? @player_portal.picture :  image_path('default-avatar.png')}";
    var errors = {'amex': "#{t('player_portal.registration.no_amex')}", 'docs': "#{t('player_portal.registration.read_docs')}", 'fiveHundred': "#{t('player_portal.registration.read_docs')}"}
    $(document).ready(player_portal.registration_wizard.init(defaultImage, "#{Rails.application.secrets.stripe_key}", "#{player_portal_path}", #{@player_portal.status?(:paid)}, errors));
    $(document).ready(player_portal.modalPdf.init());

