.alert.alert-danger.alert-dismissible.collapse#alert{role: "alert"}
  %button.close{type: "button", data: {dismiss: "alert"}, aria: {label: "Close"}}
    %span{aria: {hidden: "true"}}
      &times;
  .message
    foo

.modal.fade#pleaseWaitDialog{tabindex: '-1', role: 'dialog', data: {backdrop: 'static', keyboard: 'false'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3
          Processing...
      .modal-body
        .progress{style: 'height: 20px;'}
          .progress-bar.progress-bar-success.progress-bar-striped.active{role: 'progressbar', style: "width: 100%;"}
.row
  .col-sm-12
    / Wizard container
    .wizard-container
      #wizard.card.wizard-card.ct-wizard-green
        = form_tag player_portal_registration_create_path, multipart: true do
          %input{type: 'hidden', name: 'stripeToken', value: ''}
          %input{type: 'hidden', name: 'stripeEmail', value: ''}
          .wizard-header
            %h3
              %b REGISTER
              = "#{@player_portal[:first]} #{@player_portal[:last]}"
              %br
                <small>This information will let us register #{@player_portal[:first]} for the #{EventGroup::TRYOUT_YEAR} season.</small>
          %ul
            %li
              %a{"data-toggle" => "tab", :href => "#us-club-form"} US Club Form
            - if @player_portal.picture.blank? || !@player_portal.have_birth_certificate
              %li
                %a{"data-toggle" => "tab", :href => "#player-picture"} Picture #{@player_portal[:have_birth_certificate] ? '' : ' & Birth Certificate'}
            %li
              %a{"data-toggle" => "tab", :href => "#volunteer"} Volunteer & Scholarship
            %li
              %a{"data-toggle" => "tab", :href => "#payment"} Payment
          .tab-content
            #us-club-form.tab-pane
              .row
                .col-sm-12
                  %h4.info-text
                    Information in this US Club Form is:
                    %label
                      %input.radio-inline{style: 'margin: 0px;', type: 'radio', name: 'USClub_complete', value: 1, checked: true} &nbsp;correct
                    %label
                      %input.radio-inline{style: 'margin: 0px;', type: 'radio', name: 'USClub_complete', value: 0} &nbsp;incorrect.
                    .small
                      Email tryouts@centralmarinsoccer.com with any necessary updates.
                  .embed-responsive.embed-responsive-4by3
                    %object.embed-responsive-item{type: "application/pdf", data: "#{player_portal_club_form_path}#Fit"} Please <a href="#{player_portal_club_form_path}">click here</a> to view the PDF.

            - if @player_portal.picture.blank? || !@player_portal.have_birth_certificate
              #player-picture.tab-pane
                - if @player_portal[:have_birth_certificate]
                  %h4.info-text You previously played for Central Marin, so we only need an updated photo.
                - else
                  %h4.info-text Since you're new to the club, we need proof of #{@player_portal[:first]}'s date of birth & a photo.
                .row
                  - unless @player_portal[:have_birth_certificate]
                    .col-sm-12
                      .panel.panel-danger
                        .panel-heading
                          .panel-title
                            %span.glyphicon.glyphicon-alert{'aria-hidden':"true"}
                            Upload Date of Birth Proof
                        .panel-body
                          .col-sm-5.picture-container
                            .picture
                              %img.img-responsive.center-block{src: "#{image_path('sample_birth_certificate.jpg')}"}
                              %input#wizard-birth{name: 'birth-certificate', type: 'file'}
                            %h6
                              Click Photo to Select
                          .col-sm-7
                            .well
                              Acceptable date of birth proof includes:
                              %ul
                                %li birth certificate
                                %li birth registration issued by the appropriate government agency
                                %li passport
                                %li alien registration card issued by the U.S. Government
                                %li certificate issued by the INS attesting to age
                                %li certification of a United States citizen born abroad issued by the appropriate govenment agency
                                %li or a current driver's license.
                              %p
                                <b>Hospital, baptismal, or religious certificates are not accepted by US Club Soccer.</b>
                  .col-sm-12
                    .panel.panel-danger
                      .panel-heading
                        .panel-title
                          %span.glyphicon.glyphicon-alert{'aria-hidden':"true"}
                          Upload and Crop Photo
                      .panel-body.picture-container
                        .col-sm-5.col-xs-12
                          .picture
                            %img#jcrop.img-responsive.center-block{title: ''}
                            %input#wizard-picture{type: "file"}
                          %h6
                            Click Photo to Select & Crop Picture
                            %br
                            <small>Drag on picture to adjust crop region</small>

                        .col-sm-7.col-xs-12
                          .panel.panel-default
                            .panel-heading
                              .panel-title
                                Example US Club Player Pass
                            .panel-body
                              .col-xs-3.nopadding
                                %canvas#canvas.img-responsive
                                %input#png{name: 'player-image', type: 'hidden'}
                              .col-xs-9.text-left
                                .row
                                  .col-xs-1
                                    <small>Last:</small>
                                  .col-xs-4
                                    %b #{@player_portal[:last]}
                                .row
                                  .col-xs-1
                                    <small>First:</small>
                                  .col-xs-4
                                    %b #{@player_portal[:first]}
                                .row
                                  &nbsp;
                                .row
                                  .col-xs-1
                                    <small>DOB:</small>
                                  .col-xs-4
                                    %b #{@player_portal[:birthday].strftime('%m/%d/%Y')}
                                  .col-xs-2
                                    <small>Expires:</small>
                                  .col-xs-4
                                    %b 01/01/2017

            #volunteer.tab-pane
              .panel.panel-default
                .panel-body
                  .row
                    .col-sm-10.col-sm-offset-1
                      .media
                        .media-left
                          %img.media-object{src: "#{image_path('friends.jpg')}"}
                        .media-body
                          %h4.media-heading Volunteer Preference
                          This year Central Marin has instituted a policy that requires a family member of each player to volunteer during the soccer season. This allows the club to put your fees to work in the best possible way; coaching and fields. We will be announcing volunteer opportunities throughout the season.
                  .row
                    .col-sm-10.col-sm-offset-1
                      .form-group
                        %h5
                          Volunteer Preference:
                        %select.form-control{name: "volunteer"}
                          %option{value: '', selected: ""} Volunteer Opt Out - $100
                          %option{disabled: ""} -
                          %option Field Maintenance - equipment storage, lining and installing nets
                          %option Team Manager
                          %option Travel Coordinator
                          %option Voting and / or Non Voting Board Members
                          %option Tournament Volunteer
                          %option Tryout Registration
                          %option No Preference - Let me know where I can help
              .panel.panel-default
                .panel-body
                  .row
                    .col-sm-10.col-sm-offset-1
                      .media
                        .media-body
                          %h4.media-heading On Equal Footing Scholarship
                          TODO: Talk about On Equal footing
                          Include the documents for viewing in modal popup
                        .media-right
                          %img.media-object{src: "#{image_path('scholarship.jpg')}"}
                  .row
                    .col-sm-10.col-sm-offset-1
                      %button.btn.btn-primary.btn{type: 'button', data: {toggle: 'modal', target: '#documentModal', document: "#{url_to_asset('on equal footing 2016 - en.pdf')}", title: 'On Equal Footing'}}
                        More Information
            #payment.tab-pane
              .row
                %h4.info-text Charges Summary
                .col-sm-5.col-sm-offset-1
                  %p
                    TODO: Description here on how we use your club fees. We're a volunteer run organization. Use the money for Fields, Referees, DOC, field / referee coordinator
                .col-sm-5
                  - @fees.each do |type, fees_info|
                    %table.table.table-striped{id: (fees_info[:id]), class: ('hidden' if type == :volunteer), data: {description: '2016 Season Club Registration Fees', amount: fees_info[:total]}}
                      - total_row = fees_info[:fees].last
                      - fees_info[:fees].each do |fee|
                        %tr
                          %td
                            .text-nowrap{class: ('text-danger' if total_row[0] == fee[0])}
                              = fee[0]
                          %td
                            .text-right{class: ('text-danger' if total_row[0] == fee[0])}
                              = fee[1]
                      -#%tr
                        %td.text-right{colspan: 2}
                          %script{ src: "https://checkout.stripe.com/checkout.js",
                            class: "stripe-button",
                            data: {key: (Rails.application.secrets.stripe_key),
                              image: (image_path('logo.png')),
                              name: "Central Marin Soccer Club",
                              description: "2016 Season Club Registration Fees",
                              amount: (fees_info[:total]),
                              'panel-label': "Pay {{amount}}",
                              'data-label': "Complete Registration",
                              locale: "auto"}}

          .wizard-footer
            .pull-right
              %input.btn.btn-next.btn-fill.btn-success.btn-wd.btn-sm{:name => "next", :type => "button", :value => "Next"}/
              %input.btn.btn-finish.btn-fill.btn-success.btn-wd.btn-sm{:id => 'finish', :name => "finish", :type => "button", :value => "Complete Registration"}/
            .pull-left
              %input.btn.btn-previous.btn-fill.btn-default.btn-wd.btn-sm{:name => "previous", :type => "button", :value => "Previous"}/
            .clearfix
          / wizard container
      / row

- content_for :javascript do
  %script{src: "https://checkout.stripe.com/checkout.js"}
  %script
    $(document).ready(player_portal.registration_wizard.init("#{image_path('default-avatar.png')}", "#{Rails.application.secrets.stripe_key}", "#{player_portal_path}"));
    $(document).ready(player_portal.modalPdf.init());

