.alert.alert-danger.alert-dismissible.collapse#alert{role: "alert"}
  %button.close{type: "button", data: {dismiss: "alert"}, aria: {label: "Close"}}
    %span{aria: {hidden: "true"}}
      &times;
  .message

.alert.alert-danger.alert-dismissible.collapse#amex{role: "alert"}
  %button.close{type: "button", data: {dismiss: "alert"}, aria: {label: "Close"}}
    %span{aria: {hidden: "true"}}
      &times;
  .message
    Due to high credit card processing costs, we do not accept American Express. Please use Visa, MasterCard, Discover, or Diners.

.modal.fade#pleaseWaitDialog{tabindex: '-1', role: 'dialog', data: {backdrop: 'static', keyboard: 'false'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3
          Processing...
      .modal-body
        .progress{style: 'height: 20px;'}
          .progress-bar.progress-bar-success.progress-bar-striped.active{role: 'progressbar', style: "width: 100%;"}
.row
  .col-sm-12
    / Wizard container
    .wizard-container
      #wizard.card.wizard-card.ct-wizard-green
        = form_tag player_portal_registration_create_path, multipart: true do
          .wizard-header
            %h3
              %b REGISTER
              = "#{@player_portal[:first]} #{@player_portal[:last]}"
              %br
                <small>This information will let us register #{@player_portal[:first]} for the #{EventGroup::TRYOUT_YEAR} season.</small>
          %ul
            %li
              %a{data: {toggle: "tab"}, :href => "#us-club-form"} US Club Form
            %li
              %a{data: {toggle: "tab"}, :href => "#player-picture"} Picture #{@player_portal.status?(:proof_of_birth) ? '' : ' & Birth Certificate'}
            - unless @player_portal.status?(:paid)
              %li
                %a{data: {toggle: "tab"}, :href => "#volunteer"} Volunteer & Scholarship
              %li
                %a{data: {toggle: "tab"}, :href => "#payment"} Payment
          .tab-content
            #us-club-form.tab-pane
              = render partial: 'club_form'
            #player-picture.tab-pane
              = render partial: 'proof_and_picture'
            - unless @player_portal.status?(:paid)
              #volunteer.tab-pane
                = render partial: 'volunteer_oef'
              #payment.tab-pane
                = render partial: 'payment'

          .wizard-footer
            .pull-right
              %input.btn.btn-next.btn-fill.btn-success.btn-wd.btn-sm{:name => "next", :type => "button", :value => "Next"}/
              %input.btn.btn-finish.btn-fill.btn-success.btn-wd.btn-sm{:id => 'finish', :name => "finish", :type => "button", :value => "Complete Registration"}/
            .pull-left
              %input.btn.btn-previous.btn-fill.btn-default.btn-wd.btn-sm{:name => "previous", :type => "button", :value => "Previous"}/
            .clearfix
          / wizard container
      / row

- content_for :javascript do
  %script{src: "https://checkout.stripe.com/checkout.js"}
  %script
    var defaultImage = "#{@player_portal.status?(:picture) ? @player_portal.picture :  image_path('default-avatar.png')}";
    $(document).ready(player_portal.registration_wizard.init(defaultImage, "#{Rails.application.secrets.stripe_key}", "#{player_portal_path}", #{@player_portal.status?(:paid)}));
    $(document).ready(player_portal.modalPdf.init());

