%h2{:class => 'alt'}
  = tryout_name
- if locations.empty?
  = t('registration.confirmation.tryouts.not_scheduled').html_safe
- else
  %ul
    - locations.each do |tryout|
      %li
        - if tryout.field.nil?
          = t('registration.confirmation.tryouts.soon').html_safe
        - else
          = "#{tryout.date_to_s} @"
          %a{:href => tryout.field.map_url}
            = "#{tryout.field.name} - #{tryout.field.address}"
