%h2{:class => 'alt'}
  = age
  %ul
    - if tryout.nil?
      = t('registration.tryouts.no_tryouts')
    - else
      - tryout.each do |detail|
        %li
          = "#{l detail.start} - #{(detail.start + detail.length.minutes).strftime('%l:%M %P')} @" unless detail.start.nil?
          - if detail.location.nil?
            =t('registration.tryouts.location_tba')
          - else
            %a{:href => detail.location.map_url}
              = "#{detail.location.name} - #{detail.location.address}"

