%h2{:class => 'alt'}
  = "#{t('team.gender.boys')}: U#{event_group.boys_age_range}<br>".html_safe if event_group.boys_age_range.present?
  = "#{t('team.gender.girls')}: U#{event_group.girls_age_range}" if event_group.girls_age_range.present?
  %ul
    - event_group.event_details.each do |event_detail|
      %li
        = "#{event_detail.date_to_s} @"
        %a{:href => event_detail.location.map_url}
          = "#{event_detail.location.name} - #{event_detail.location.address}"
