%h2{:class => 'alt'}
  = event_name
  %ul
    - event_details.each do |event_detail|
      %li
        = "#{event_detail.date_to_s} @"
        %a{:href => event_detail.location.map_url}
          = "#{event_detail.location.name} - #{event_detail.location.address}"
