- if tryout.nil?
  No tryouts currently scheduled
- else
  - tryout.event_groups.each do |event_age_group|
    %h2{:class => 'alt'}
      - if @age_group.nil?
        = "#{t('team.gender.boys')}: U#{event_age_group.boys_age_range}<br>".html_safe if event_age_group.boys_age_range.present?
        = "#{t('team.gender.girls')}: U#{event_age_group.girls_age_range}" if event_age_group.girls_age_range.present?
      - else
        = @age_group.to_s.humanize.titleize
      %ul
        - event_age_group.event_details.each do |event_detail|
          %li
            = "#{event_detail.date_to_s} @"
            %a{:href => event_detail.location.map_url}
              = "#{event_detail.location.name} - #{event_detail.location.address}"
