%center
  %h1.chart_header
    %center
      = "NorCal Premier #{@season} #{t('registration.age_chart.heading')}"
  %p
    &nbsp;

  %table{border: 2, cellpadding: 5}
    %tr
      %th
        %h4.col_header
          = t('registration.age_chart.birth_year')
      %th
        %h4.col_header
          = t('registration.age_chart.age_group')
      %th
        %h4.col_header
          = t('registration.age_chart.players')
      %th
        %h4.col_header
          = t('registration.age_chart.length')
      %th
        %h4.col_header
          = t('registration.age_chart.ball')
      %th
        %h4.col_header
          = t('registration.age_chart.referees')
    -@chart_info.each do |row|
      %tr
        %td
          %h4.row_header
            = "#{t('registration.age_chart.born')} #{row[0]}"
        %td.cell
          = row[1]
        %td.cell
          = row[2]
        %td.cell
          = "#{row[3]} #{t('registration.age_chart.minute')}"
        %td.cell
          = row[4]
        %td.cell
          = row[5]

  %p
    &nbsp;

  %a{href: 'http://norcalpremier.com/home/894044.html', target: '_blank'}
    = t('registration.age_chart.info')