%center
  %h1.chart_header
    %center
      = "#{@season} - #{@season + 1} #{t('registration.age_chart.heading')}"
  %p
    &nbsp;

  %table{border: 2, cellpadding: 5}
    %tr
      %th
        &nbsp;
      -@years.reverse_each do |year|
        %th
          %h4.col_header
            = year
    - (1..12).each do |index|
      %tr
        %td
          %h4.row_header
            = t('date.month_names')[index]
        -(7..19).each do |age_level|
          %td.cell
            = "U#{age_level}"


