%div.grid_16
  %h1
    = "2015 #{t('registration.index.heading')}"

%div.grid_16.box
  %h2
    = t('registration.index.online')
  = link_to t('registration.index.online_link'), tryouts_registration_url, :class => 'alt'

- @info.each do |event|
  %div.box{class: 'grid_16'}
    %a{name: event.type}
    %h2
      = event.heading
    = event.body.html_safe unless event.body.nil?
    %p
      = render partial: 'tryouts/tryout_info', :locals => {tryout: event}

%div.grid_16.box
  = cms_region(@web_parts, 'tryouts.faq1', :div)

  %div.clear
    &nbsp;

  %div.grid_3
    %label{:for => 'gender'}
      = "#{t('registration.form.gender')} *"

  %div.grid_4
    %input{:type => "radio", :name => 'gender', :value => '0', :required => true}
      = " #{t('registration.form.gender_boy')}"
    %input{:type => "radio", :name => 'gender', :value => '1', :required => true}
      = " #{t('registration.form.gender_girl')}"

  %div.grid_3
    %label{:for => 'birthdate_month'}
      = "#{t('registration.form.birthdate')} *"
  %div.grid_4
    %select#birthdate_month{:name => 'birthdate_month', :required => true}
      %option
      -(1..12).each do |month|
        %option
          = month
    /
    %select#birthdate_day{:name => 'birthdate_day', :required => true}
      %option
      -(1..31).each do |day|
        %option
          = day
    /
    %select#birthdate_year{:name => 'birthdate_year', :required => true}
      %option
      - (Time.now.year - 19..Time.now.year-6).each do |year|
        %option
          = year

  %div.clear
    &nbsp;

  %div.grid_15
    %h4#tryouts_date_and_times
    %input{:name => 'age', :type => 'hidden', :value => ''}

  %div.clear
    &nbsp;

  %div.grid_15#age_group_chart
    %a{:href => '#'}
      = t('registration.index.age_group_chart')

  %div.clear
    &nbsp;

  = cms_region(@web_parts, 'tryouts.faq2', :div)
%div.grid_16.box
  %h2
    = t('registration.index.online')
  = link_to t('registration.index.online_link'), tryouts_registration_url, :class => 'alt'

%div{:id => "dialog", :title => "Age Group Chart"}

- content_for :javascript do
  = javascript_include_tag "tryouts"
  %script
    $(document).ready(soccer.tryouts.init_registration('birthdate_month', 'birthdate_day', 'birthdate_year', 'gender'));
    $(document).ready(soccer.tryouts.show_age_group_chart($('#dialog')));