%div.grid_16
  %h1
    = "#{@year} #{t('registration.index.heading')}"

%div.grid_16.box
  %h2
    1. Tryout Process and Notification
  %p
    All players are encouraged to attend all tryouts.  If your child is going to miss a tryout, please send an email to doc@centralmarinsoccer.com. After tryouts are completed, all parents will be notified via a phone call by Wednesday, March 15th if their son/daughter makes a team.  Parents have 24 hours to respond and accept the spot on the team. If you can accept sooner, please do so.  Teams will be posted online after calls are made and everyone has responded. Emails will be sent to those players that do not make a team.
  %h2
    2. Registration
  %p
    Parents can register their players online, via a player portal.  The Club will send the registration link to each parent.  Parents can also register in person from 7pm - 8:30pm at Registration Night on Thursday, March 16 at the
    %a{href: 'https://www.google.com/maps/place/San+Rafael+Community+Center/@37.9694702,-122.5313867,17z/data=!3m1!4b1!4m5!3m4!1s0x808599f968a59f07:0xd6e582ac531044a9!8m2!3d37.969466!4d-122.529198'}
      San Rafael Community Center, 618 B Street, San Rafael, CA.
  %h2
    3.  Team Formation
  %p
    Some teams will be formed immediately, while in some cases, there will be a pool of players selected.  In the event a player pool is selected, the actual team will be formed at the end of the Spring Season. This decision is based on talent pool, number of players, and other factors.  Each coach will determine how to go about selecting their team on a case by case basis.  The number of teams formed in each age group will range from 1-3 team, depending on quantify of players, talent level and available coaches.
  %h2
    4.  Spring season
  %p
    Begins approx. mid April and goes through mid June (to coincide with the end of the school year).   All teams practice throughout the Spring, but some play in a Spring League as well.  Each coach will communicate their personal plans and schedule with you by the 2nd weekend of tryouts.
  %h2
    5.  Fall Season
  %p
    Training camps will begin either Monday, July 31 or Monday, August 7, depending on field availability. Each coach will communicate exact dates during the Spring Season.  Players are except to attend fall training so please plan to take family vacations during June and July.  If your child will miss pre season training, please communicate this with your coach directly in advance.

-#%div.grid_16.box
-#  %h2 Central Marin & Marin FC Agree to Merge
-#  %p
-#    Central Marin Soccer Community,
-#  %p
-#    We are pleased to announce that effective January 8th, 2017, Central Marin Soccer Club voted unanimously to merge with Marin FC.  This will be a potentially 6 to 12 month process, but members of both clubs’ leadership are committed to work carefully and diligently to map a path to a successful integration of the two clubs’ offerings and operations.  Additionally, our other alliance partners have been consulted and have expressed their support.
-#  %p
-#    The combined club will be the largest club offering competitive soccer teams for boys and girls across all levels in Marin, from US Soccer sanctioned US Development Academy teams (the most elite competitive level) to National Premier League, NorCal Premier (Marin FC "legacy"), Gold, Silver and Bronze-level (Central Marin "legacy") teams.  For those players aspiring to play collegiate soccer, to those seeking advanced play in High School or those just exploring their high-level love of the game, the merged Marin FC promises to achieve an integrated and broad program for the entire Marin community.
-#  %p
-#    Both Clubs have shared or overlapped in many resources and a natural alignment has existed for many years.  While Marin FC’s focus has been on top-tier Academy and National Premier League teams, the infusion of Central Marin’s focus on Premier, Gold, Silver and Bronze level teams creates a complete soccer picture fitting the talent pool and enthusiasm of our young players.
-#  %p
-#    With united soccer philosophies, the merged club can strengthen the competitive soccer offerings for players, parents and coaches.  As a complete competitive spectrum operating seamlessly including our alliance partners, the merged club will be positioned to attract and retain talent across all competitive levels, including the best coaches available in the county.  We truly believe Marin FC will be the premier soccer club in Marin and we want Marin FC to be your Club!
-#  %p
-#    It is our goal to make this as seamless a process for everyone as possible.  We will maintain a similar cost model and continue our strong commitment to financial aid for deserving families.  The combined club will retain the Marin FC name, colors, and logo across all of our teams from U8-U19.
-#  %p
-#    We’re sure you have a number of additional questions, which we tried to anticipate and answer in the attached Q&A Guide.  If you have further questions or concerns, please do not hesitate to contact us at the email address below.
-#  %p
-#    Central Marin Board
-#    %br
-#      board@centralmarinsoccer.com
-#  %p
-#    * Revised February 6th, 2017
-#
-#
-#%div.grid_16.box
-#  %h2
-#    About the Central Marin Soccer Club and Marin FC Merger
-#  %h3
-#    1. What are the reasons for merging Central Marin Soccer Club and Marin FC?  Why is this good for Central Marin families?
-#  %p
-#    By merging, Central Marin and Marin FC are establishing under one organization the opportunity to play at every competitive level, including NorCal Bronze, Silver, Gold (Central Marin "legacy"), Premier, AND the recent US Soccer sanctioned “US Soccer Academy Status” (Marin FC "legacy") for the truly elite players that aspire to play collegiate level soccer. In addition, the Clubs will be able to centralize operations, attract and retain the best playing and coaching talent, more effectively and efficiently utilize training and playing fields and provide a robust experience for players and their families.
-#  %h3
-#    2. How will the interests of Central Marin teams and players be looked after?
-#  %p
-#    Central Marin’s interests will be maintained by:
-#  %ul
-#    %li
-#      continuing Central Marin’s legacy program in the new merged club,
-#    %li
-#      maintaining approximate cost levels,
-#    %li
-#      continuing the existing financial aid program for deserving families, and
-#    %li
-#      retaining Central Marin coaches.
-#  %h3
-#    3. Is Central Marin represented on the new Board?
-#  %p
-#    Yes, Central Marin will retain its current two representatives on the Marin FC Board and additionally between 1 - 3 members of Central’s Marin Board will become at large board members at Marin FC.
-#  %h3
-#    4. What does this mean for my current team?
-#  %p
-#    Teams will form after tryouts, as they have been in the past. Players will move up and down as they have in the past, but the team formation process should remain the same.
-#  %h3
-#    5. What are the dates for tryouts and how will they be handled?
-#  %p
-#    The first tryouts for “legacy” Marin FC teams will take place the weekend of February 25/26 and March 4.  These tryouts will be for Academy and Premier level teams on the boys side and Premier level teams on the girls side. Tryouts for “legacy” Central Marin teams will be held March 5 and March 11. These tryouts will be for NorCal Bronze, Silver and Gold teams for boys and girls. Any players that do not make the Academy or Premier teams are encouraged to tryout for the NorCal Bronze, Silver and Gold Teams.
-#  %h3
-#    Details are available on Marin FC and Central Marin’s websites.
-#  %p
-#    An information session will be held on February 8th at Pickleweed Community Center in San Rafael, hosted by Central Marin and Marin FC, to address any outstanding questions.
-#  %h3
-#    6. What happens to the cadence of training? Will teams now train more or less, play more or less games, go to more or less tournaments?
-#  %p
-#    Teams that are formed under the legacy Central Marin Model (NorCal Gold, Silver and Bronze teams) will operate very similarly as in the past, but the program will be more standardized with a “base program offering". This base program is seasonal and offers spring training, fall league play, state cup and two tournaments during the fall season.
-#  %p
-#    Teams can also decide independently to expand to include Spring League play, more practices in the fall/spring and/or  more tournaments. As has been the case in the past, there will be additional costs for additions to the base program model.
-#  %p
-#    The legacy Marin FC teams (Premier and Academy Status teams) will continue to play year round and practice three times per week and incur higher player costs than the legacy Central Marin teams.
-#  %h3
-#    7. Will costs go up?
-#  %p
-#    Costs are expected to remain approximately the same as in the past based on Central Marin’s current program. As in the past, all additional activities to the Central Marin base program (see definition of Central Marin base program above), such as more practices, Spring League play and additional tournaments, will incur additional costs.
-#  %h3
-#    8. Will there still be financial aid / OEF support?
-#  %p
-#    Yes, Marin FC will continue to provide financial aid to those families in need. This season Central Marin had a very successful financial aid fundraiser with guest speaker Brandi Chastain, World Cup and Olympic soccer champion. We will continue with our community outreach to attract and retain the best soccer players in Marin County and make soccer financially viable for all ability appropriate soccer players from deserving families.
-#  %h3
-#    9. Will the Central Marin coaches be retained?
-#  %p
-#    Central Marin Soccer Club and Marin FC have agreed to retain all current Central Marin coaches that are in good standing with the Club. Marin FC recognizes the importance of our coaches and fully intends to retain them as part of the newly merged Club.
-#  %h3
-#    10. Will the merger make it more difficult for my child to make a comparable team?
-#  %p
-#    While we do expect that over time more boys and girls will try out for our teams than in the past, our experience tells us that at the Gold, Silver, and Bronze levels, parents prefer their children play closer to home on local teams. To the extent that there are more ability-appropriate players for our teams than in the past, we will endeavor to field additional teams to keep our children closer to home and on local teams.
-#  %h3
-#    11. What is Academy Status and what does it mean for our players and their families?
-#  %p
-#    The U.S. Soccer Development Academy is considered the top tier of youth soccer in the United States, and made up of 150 total clubs comprising teams across five age groups: U-12, U-13, U-14, U-15/16, U-17/18. Marin FC currently has Academy Status for boys U12, U13, and U14 age groups and competes with teams such as San Jose Earthquakes, Sacramento Republic, Ballistic United, and De Anza Force.
-#  %p
-#    Having U.S. Academy Status provides our players with the highest level of play for those players that aspire to this level. Academy Status will not detract from all other NorCal levels of play that currently exist, but instead, add another competitive opportunity.
-#  %h3
-#    12. Will families have to commute greater distances to games, to practices?
-#  %p
-#    Travel should be the same or very similar to what it has been in the past.
-#  %h3
-#    13. Are there more changes in the works?
-#  %p
-#    While we do not anticipate additional changes which we have not discussed in this communication, it is possible that other Clubs may seek to become part of Marin FC in the future. Our guide in addressing changes will continue to be to provide the best possible training in developing our players to the best of their abilities.
-#  %h3
-#    14. How will this affect quality and access to practice fields?
-#  %p
-#    The merged club will be better positioned to share existing fields more effectively and efficiently as one club rather than two separate clubs.
-#  %h3
-#    15. How long will it take to fully integrate the operations of the two Clubs?
-#  %p
-#    Both clubs' boards have created a joint working group to methodically, carefully and collaboratively work together to fully integrate operations over the next 6-12 months. This will include bookkeeping, field coordination, player registration, manager training, evaluations, branding, uniforms, websites, etc. Please be patient with us as we work through the details.
-#  %h3
-#    16.  What is the status of the search for a new Director of Coaching?
-#  %p
-#    Josh Kalkstein and Kelly Coffey are Directors of Coaching at Marin FC and will remain in their current positions. We will begin a search for a third DOC to work with Josh and Kelly. The future structure of coaching and player development at Marin FC will likely be expanded after the merger, and determine specific titles and responsibilities for all DOCs.
-#  %p
-#    * Revised February 6th, 2017
%div.grid_16.box
  %h2
    = t('registration.index.online')
  = link_to t('registration.index.online_link'), tryouts_registration_url, :class => 'alt'

- Array(@tryouts).each do |tryout|
  %div.box{class: 'grid_16'}
    %a{name: tryout.category}
    %h2
      = tryout.title
    = tryout.description.html_safe unless tryout.description.blank?
    %p
      - boys, girls = tryout.by_age_ranges
      - if !boys.empty?
        %h3
          = t('team.gender.boys')
        - boys.each do |age, details|
          = render partial: 'tryouts/tryout_info', :locals => {gender: 'team.gender.boys', age: age, tryout: details}

      - if !girls.empty?
        %h3
          = t('team.gender.girls')
        - girls.each do |age, details|
          = render partial: 'tryouts/tryout_info', :locals => {gender: 'team.gender.girls', age: age, tryout: details}


%div.grid_16.box
  = cms_region(@web_parts, 'tryouts.faq1', :div)

  %div.clear
    &nbsp;

  %div.grid_3
    %label{:for => 'gender'}
      = "#{t('registration.form.gender')} *"

  %div.grid_4
    %input{:type => "radio", :name => 'gender', :value => '0', :required => true}
      = " #{t('registration.form.gender_boy')}"
    %input{:type => "radio", :name => 'gender', :value => '1', :required => true}
      = " #{t('registration.form.gender_girl')}"

  %div.grid_3
    %label{:for => 'birthdate_month'}
      = "#{t('registration.form.birthdate')} *"
  %div.grid_4
    %select#birthdate_year{:name => 'birthdate_year', :required => true}
      %option
      - (Time.now.year - 18..Time.now.year-7).each do |year|
        %option
          = year

  %div.clear
    &nbsp;

  %div.grid_15
    %h4#tryouts_date_and_times
    %input{:name => 'age', :type => 'hidden', :value => ''}

  %div.clear
    &nbsp;

  %div.grid_15#age_group_chart
    %a{:href => '#'}
      = t('registration.index.age_group_chart')

  %div.clear
    &nbsp;

  = cms_region(@web_parts, 'tryouts.faq2', :div)
%div.grid_16.box
  %h2
    = t('registration.index.online')
  = link_to t('registration.index.online_link'), tryouts_registration_url, :class => 'alt'

%div{:id => "dialog", :title => "Age Group Chart"}

- content_for :javascript do
  = javascript_include_tag "tryouts"
  %script
    $(document).ready(soccer.tryouts.init_registration('gender', 'birthdate_year'));
    $(document).ready(soccer.tryouts.show_age_group_chart($('#dialog')));