- content_for :css do
  = stylesheet_link_tag "information"

= cms_region(@web_parts, 'information.tournaments', :div, 'grid_16')

%div.grid_16#age_group_chart
  %h2
    %center
      %a{:href => '#'}Click here to view the Age Group Chart

= cms_region(@web_parts, 'information.tournaments.mission_bell', :div, 'grid_16')

= cms_region(@web_parts, 'information.tournaments.premier_challenge', :div, 'grid_16')

= cms_region(@web_parts, 'information.tournaments.footer', :div, 'grid_16')

%div{:id => "dialog", :title => "Age Group Chart"}

- content_for :javascript do
  = javascript_include_tag "information.tournaments"
  = javascript_include_tag "tryouts"
  %script
    $(document).ready(soccer.tryouts.show_age_group_chart($('#dialog')));