- content_for :css do
  = stylesheet_link_tag "information"

%div.grid_16{ editable_attributes(@part_name_overview) }
  = editable_content @part_name_overview

%div.grid_16
  %div#tabs
    %ul
      - @tournaments.each do |tournament|
        %li
          %a{href: "##{tournament[:id]}"}
            = tournament[:name]

    - @tournaments.each do |tournament|
      %div{id: tournament[:id]}
        %div{ editable_attributes(tournament[:overview]) }
          = editable_content tournament[:overview]
        %h2= t('information.winners')
        %ul
          - @years.each do |year|
            %li
              =link_to "##{tournament[:id]}", :rel => "#winners", :data => {tournament: tournament[:id], year: year} do
                = year.capitalize

%div.grid_16{ editable_attributes(@part_name_footer)  }
  = editable_content @part_name_footer

%script#pastWinnersTemplate{type: 'text/html'}
  %div
    %h3= '{{:year}} {{:tournament_name}} Winners'
    %div#simplemodal{ editable_attributes("{{:web_part_name}}") }
      = '{{:html}}'

- content_for :javascript do
  =javascript_include_tag "information.tournaments"
