%div.grid_16
  %h1
    2014 Tryout Registration

= form_tag nil, data: {validate: 'parsley' } do
  %div.grid_16.box
    %h2 Player Information

    %div.grid_3
      %label{for: 'player_first'} First Name *
    %div.grid_4
      %input{type: 'text', name: 'player_first', "parsley-trigger"=>"change", required: true}

    %div.grid_3
      %label{for: 'player_last'} Last Name *
    %div.grid_5
      %input{type: 'text', name: 'player_last', "parsley-trigger"=>"change", required: true}

    %div.clear
      &nbsp;

    %div.grid_3
      %label{for: 'home_address'}Home Address *
    %div.grid_4
      %input{type: 'text', name: 'home_address', "parsley-trigger"=>"change", required: true}

    %div.grid_3
      %label{for: 'home_phone'} Home Phone *
    %div.grid_4
      %input{type: 'phone', name: 'home_phone', "parsley-trigger"=>"change", required: true}

    %div.clear
      &nbsp;

    %div.grid_3
      %label{for: 'gender'} Gender *
    %div.grid_4
      %input{type: "radio", name: 'gender', value: 'Boy', required: true} &nbsp; Boy
      %input{type: "radio", name: 'gender', value: 'Girl', required: true} &nbsp; Girl

    %div.grid_3
      %label{for: 'birthdate_month'} Birthday*
    %div.grid_4
      %select#birthdate_month{name: 'birthdate_month', required: true}
        %option
        -(1..12).each do |month|
          %option
            = month
      /
      %select#birthdate_day{name: 'birthdate_day', required: true}
        %option
        -(1..31).each do |day|
          %option
            = day
      /
      %select#birthdate_year{name: 'birthdate_year', required: true}
        %option
        - (Time.now.year - 19..Time.now.year-6).each do |year|
          %option
            = year

    %div.clear
      &nbsp;

    %div.grid_3
      %label{for: 'play_up'} Tryout Date and Time:
    %div.grid_12
      %h3#tryouts_date_and_times
      %input#play_up{name: 'play_up', type: 'checkbox'}
      %input{name: 'tryout', type: 'hidden', value: ''}
      Play Up

    %div.clear
      &nbsp;

    %div.grid_3
      %label{for: 'previous_team'} Previous Team *
    %div.grid_12
      %select{name: 'previous_team', required: true }
        %option
        %option Rec Soccer
        %option Other Competitive Club
        - @teams.each do |team|
          %option
            = team.to_team_name_with_coach

    %div.clear
      &nbsp;

  - (1..2).each do |parent_id|
    %div.grid_16.box
      %h2
        Parent #{parent_id} Information

      %div.grid_3
        %label{for: "parent#{parent_id}_first"}
          = parent_label(parent_id, 'First Name')
      %div.grid_4
        %input{type: 'text', name: "parent#{parent_id}_first", required: (parent_field_required(parent_id))}

      %div.grid_3
        %label{for: "parent#{parent_id}_last"}
          = parent_label(parent_id, 'Last Name')
      %div.grid_4
        %input{type: 'text', name: "parent#{parent_id}_last", required: (parent_field_required(parent_id))}

      %div.clear
        &nbsp;

      %div.grid_3
        %label{for: "parent#{parent_id}_email" }
          = parent_label(parent_id, 'Email')
      %div.grid_4
        %input{type: 'email', name: "parent#{parent_id}_email", required: (parent_field_required(parent_id))}

      %div.grid_3
        %label{for: "parent#{parent_id}_cell"}
          = parent_label(parent_id, 'Cell Phone')
      %div.grid_4
        %input{type: 'phone', name: "parent#{parent_id}_cell", required: (parent_field_required(parent_id))}

  %div.grid_16.box
    %h2 Consent for Medical Treatment (Minor)
    %div.grid_15
      As the parent or legal guardian of the above-named player, I hereby consent for Emergency medical care as prescribed by a duly licensed Doctor of Medicine or Doctor of Dentistry. This care may be given under whatever conditions are necessary to preserve the life, limb or well-being of my dependent.
    %div.grid_15 &nbsp;

    %h2 Important
    %div.grid_15
      I, the parent/guardian of the registrant, a minor, agree that I and the registrant will abide by the rules of the USYSA, US Club Soccer and Central Marin Competitive Soccer Club (CMCSC), their affiliated organizations and sponsors. Recognizing the possibility of physical injury associated with soccer and in consideration for the USYSA, US Club Soccer and CMCSC accepting the registrant for their soccer programs and activities (the Program), I hereby release, discharge and/or otherwise indemnify the USYSA, the CMCSC, the coaches/evaluators, their affiliated organizations and sponsors, their employees and associated personnel, including the owners of the fields and facilities utilized for the Programs, against any and all claim (s) by or an behalf of the registrant as a result of the s participation in the program and/or being transported to or from the same, which transportation I hereby authorize.

    %div.grid_15 &nbsp;

    %div.grid_6
      %label{for: 'form_completed_by'} Name of the Person Completing this Form *
    %div.grid_4
      %input{type: 'text', name: "form_completed_by", required: true}

    %div.clear
      &nbsp;

    %div.grid_6
      %label{for: 'relationship_to_player'} Relationship to player *
    %div.grid_4
      %input{type: 'text', name: "relationship_to_player", required: true}

    %div.clear
      &nbsp;

    %div.grid_15
      &nbsp;

    %div.grid_15
      I have read the above waiver and release, and consent for medical treatment
      By clicking, I represent that I am the parent or guardian of the minor athlete being registered on this form for Central Marin Competitive Soccer Club and my click is my signature for this waiver and release and medical consent.

    %div.grid_15
      I agree
      %input{type: 'checkbox', name: 'waiver', value: 'agree', required: true}

    %div.grid_15 &nbsp;

    %div.grid_15
      %input{type: 'submit'}

- content_for :javascript do
  = javascript_include_tag "registrations"
  %script
    $(document).ready(soccer.registrations.init_registration());


