- content_for :css do
  = stylesheet_link_tag "home"

%div{class: 'grid_6'}
  %h1= t('home.title')
  %p= t('home.overview')
  %hr
  %h2{class: 'alt'}= t('home.program.heading')
  %p= t('home.program.body')
  %a{class: 'right', href: '/information'}= t('home.program.link')

%div{class: 'grid_10 box'}
  %div.slider-container
    -#%div
      -#%a{href: "/tryouts#Registration%20Night"}
      -#  %img{src: "/Registration_NightU12.jpg", height: 420, width: 560 }
    -@articles.each do |article|
      %div
        %a{href: "#{show_article(article)}"}
          =image_tag article.image, :alt => article.title, height: "#{ArticleImageUploader::ImageSize::HEIGHT}", width: "#{ArticleImageUploader::ImageSize::WIDTH}", :title => article.title
          =truncate(article.title, length: 75, truncate_string: "...")

%div{class: 'grid_16'}
  &nbsp;

-#%div{class: 'grid_16 box'}
-#  %h2 U12 Premier Level Teams
-#  %p The final rosters have been posted.
-#  %p
-#    = link_to t('home.tryouts.link'), '/tryouts/united', class: 'right'

-#%div{class: 'grid_16 box'}
-#  %h2
-#    = "2015 #{t('registration.index.heading')}"
-#  %p
-#    = t('registration.confirmation.tryouts.save_the_date')
-#  %p
-#    = link_to t('home.program.link'), '/tryouts/', class: 'right'


-#%div{class: 'grid_16 box'}
-#  %h2
-#    = t('home.tryouts.heading')
-#  %p
-#    = t('home.tryouts.body').html_safe
-#  %p
-#    = link_to t('home.tryouts.link'), '/tryouts/', class: 'right'
-#

-#%div{class: 'grid_16 box'}
-#  %h2
-#    Field Closures
-#  %p
-#    Pickleweed 1 and 2 fields are closed Friday October 31st and Saturday November 1st. Many games scheduled for Pickleweed 1 on Saturday have been moved to Kent.
-#    Check TeamSnap or look for an email from your coach or manager to see if your game has been moved.

%div{class: 'grid_10'}
  %div{class: 'box'}
    %h2= t('home.donate.heading')
    %p= t('home.donate.body')

    = link_to t('home.donate.link'), '/information/on-equal-footing', class: 'right'

    -#%form{class: 'right', action: 'https://www.sandbox.paypal.com/cgi-bin/webscr', method: 'post'}
    -#  %input{type: 'hidden', name: 'cmd', value: '_s-xclick'}
    -#  %input{type: 'hidden', name: 'hosted_button_id', value: 'TVEPGNRXXD2YN'}
    -#  %input{type: 'image', src: 'https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif', border:'0', name: 'submit', alt: 'PayPal - The safer, easier way to pay online!' }
    -#  %img{alt:'', border:'0', src:'https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif', width:'1', height:'1'}

    %div{class: 'clear'}

  %div{class: 'box'}
    %h2= t('home.sponsors.heading')
    %p{class: 'text-center'}
      = image_tag 'TJsGym.png', class: 'pad5'
      = image_tag 'sample_sponsors1.png', class: 'pad5'
      = image_tag 'sample_sponsors3.png', class: 'pad5'
      = image_tag 'sample_sponsors4.png', class: 'pad5'

%div{id: 'field_status', class: 'grid_6 box relative'}
  %div{class: 'bg_inlay'}
  %div{class: 'relative'}
    %h2= t('home.fields.heading')
    %ol{class: 'block'}
      - @fields_status.each_with_index do |(status, count), index|
        %li{class: ('odd' unless index % 2 == 0)}
          %div{class: 'grid_3'}= status
          %div{class: 'grid_2 text-center'}= count
          %div{class: 'clear'}
    %div{class: 'clear'}
    %h4{class: 'alt'}= t('home.fields.body')
    = link_to t('home.fields.link'), fields_path, class: 'right'
    %div{class: 'clear'}
%div{class: 'clear'}

- content_for :javascript do
  = javascript_include_tag 'home'
