%h3
  = "This email will go to #{@players.length} players and their parents"

-#= form_for @notification, :url=>{:action=>"send_email"}, :html => { :multipart => true } do |f|
= semantic_form_for Notification.new, :url=>{:action=>"process_email"}, method: :post do |f|

  = f.hidden_field :q, value: params[:q]

  %fieldset.inputs
    %div.activeadmin-translations
      %ul.available-locales
        - I18n.available_locales.each do |locale|
          %li
            %a{href: ".locale-#{locale}"}
              = locale == :en ? 'English' : 'Spanish'

      - I18n.available_locales.each do |locale|
        %fieldset.inputs.local{class: "locale-#{locale}"}
          %ol
            %li.string.input.optional.stringish
              %label.label{for: "subject-#{locale}"}
                Subject
              = f.text_field :subject, name: "subject-#{locale}", id: "subject-#{locale}"
            %li.ckeditor.input.optional
              %label.label{for: "body-#{locale}"}
                Body
              = f.cktext_area :body, name: "body-#{locale}", id: "body-#{locale}"

  %fieldset.actions
    %ol
      %li.action.input_action
        = submit_tag 'Send', data: {'disable-with': 'Wait...'}