- content_for :css do
  = stylesheet_link_tag "coach"

%h2{class: 'grid_16'}= t('coach.intro')
%div{class: 'clear'}
%div{class: 'margin10'}
%div{class: 'grid_16', id: 'accordion'}
  - @objectives[:header].each_with_index do |header, index|
    %h3
      %a{href: '#'}= header
    %div= @objectives[:body][index]

%div{class: 'grid_16'}
%h2= t('coach.staff')
%div{style: 'padding-top: 5px;'}
- @coaches.each_with_index do |coach, index|
  - image_count = 8
  - mod = index % image_count
  - if mod == 0
    %div{class: 'clear'}
  %div{class: ['grid_2 coach', ('omega' if mod == image_count - 1)]}
    = link_to "##{coach.id}", :class => 'coachlink', :rel => "#coach#{coach.id}", :data => {:coach_id => "#{coach.id}"} do
      = image_tag image_path(coach.image_url), alt: coach.name, id: "coach-img-#{coach.id}", height: 118, width: 100
      %br
      = coach.name

%script{id: 'CoachTemplate', type: 'text/html'}
  %div{id: 'simplemodal'}
    %img{class: 'coachImage', src: '{{:image_url}}'}
    %div
      %h3= '{{:name}}'
      %p= '{{:bio}}'
    %div{class: 'teams'}
      %h3= t "coach.teams"
      %ul
        = '{{for teams}}'
        %li
          %a{href: '/teams/{{:id}}'}= '{{:name}}'
        = '{{/for}}'

- content_for :javascript do
  =javascript_include_tag "coaches"

