= semantic_form_for [:admin, @coach], :html => {:multipart => true} do |f|

  = f.inputs do
    = f.input :name
    = f.input :email

    = f.input :crop_x, :as => :hidden
    = f.input :crop_y, :as => :hidden
    = f.input :crop_w, :as => :hidden
    = f.input :crop_h, :as => :hidden
    = f.input :image, :as => :file, :hint => f.template.image_tag(f.object.image.url(), :id => "cropbox")

    %div.error

    .language-tabs
      %ul.language-selection
        - @coach.translations.each do |lang|
          %li= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}"

      = f.semantic_fields_for :translations do |lf|
        %div{:id => "lang-#{lf.object.locale}", :style => 'padding: 0;'}
          = f.inputs do
            = lf.input :bio, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Easy', :language => "#{lf.object.locale}", :scayt_sLang => "#{SPELLCHECK_LANGUAGES[lf.object.locale.to_sym]}"}}
            = lf.input :locale, :as => :hidden

  = f.actions do
    = f.action :submit, :label => true
    = f.action :cancel, :as => :link, :label => I18n.t('active_admin.cancel'), :wrapper_html => { :class => 'cancel' }

:javascript
  $('.language-tabs').tabs();
  $(document).ready(soccer.image_crop.init({
    fileSelect: $('#coach_image'),
    form: $('form'),
    modelName: 'coach',
    minSize: [#{CoachImageUploader::ImageSize::WIDTH}, #{CoachImageUploader::ImageSize::HEIGHT}],
    aspectRatio: #{CoachImageUploader::ImageSize::WIDTH} / #{CoachImageUploader::ImageSize::HEIGHT}
  }));