%div.grid_15.details
  %a{name: "#{contact.club_position}"}
  = image_tag image_path(contact.image), class: 'image_left', alt: contact.name, height: Contact::IMAGE_HEIGHT, width: Contact::IMAGE_WIDTH if contact.image?
  %h3= contact.club_position
  %div
    = contact_name(contact.name)
  %div
    = mail_to "#{contact.email}" unless contact.email.blank?
%div.grid_15
  %h3 Responsibilities
  = contact.description.html_safe
  %hr
