%h1.grid_16= t('contact.heading')

- @contacts_by_category.each do |category, contacts|
  %div.grid_16.box
    %h2.alt= t('contact.' + category.to_s)
    %ul
      - contacts.each do |contact|
        %li
          %a{href: "##{contact.club_position}"}
            = "#{contact.club_position} - #{contact_name(contact.name)}"

= render partial: 'apply_position'

- @contacts_by_category.each do |category, contacts|
  %div.grid_16.box
    %h2.alt= t('contact.' + category.to_s)
    - contacts.each do |contact|
      = render partial: 'contact_info', :locals => {contact: contact }

= render partial: 'apply_position'
