%h1.grid_16= t('contact.board.name')
%div.grid_16.box
  %h2= t('contact.board.voting.name')
  %ul
    %li
      ="#{t('contact.board.voting.president')} - Rick Williams"
    %li
      ="#{t('contact.board.voting.treasurer')} - Open"
    %li
      ="#{t('contact.board.voting.registrar')} - Colleen Bertigilia"
    %li
      ="#{t('contact.board.voting.team_comm')} - Tim Heidinger"
    %li
      ="#{t('contact.board.voting.secretary')} - Lynn Oldham Robinett"
    %li
      ="#{t('contact.board.voting.comm')} - Jeff Archer"
    %li
      ="#{t('contact.board.voting.at_large')} - Mark Bloomberg"

%div.grid_16.box
  %h2= t('contact.board.nonvoting.name')
  %ul
    %li
      ="#{t('contact.board.nonvoting.scholarship')} - Gregg Clark"
    %li
      ="#{t('contact.board.nonvoting.marinfc_rep')} - Bruce Reeves"
    %li
      ="#{t('contact.board.nonvoting.marinfc_rep')} - Greg Capitolo"
    %li
      ="#{t('contact.board.nonvoting.volunteer_coord')} - Open"
    %li
      ="#{t('contact.board.nonvoting.fund_raising')} - Open"

%div.grid_16.box
  %h2= t('contact.board.others.name')
  %ul
    %li
      ="#{t('contact.board.others.srysc')} - David Gess"
    %li
      ="#{t('contact.board.others.rvys')} - Open"
    %li
      ="#{t('contact.board.others.referee_mentor')} - Rick Williams / Open"
    %li
      ="#{t('contact.board.others.scheduling')} - Lynetta Matteo"
    %li
      ="#{t('contact.board.others.accounting')} - Leslie Schneider"
    %li
      ="#{t('contact.board.others.website')} - Ryan Robinett"

%div.grid_16.box
  %h2= t('contact.doc')
  %p
    Steven Sosa