= semantic_form_for [:admin, @team], :html => {:multipart => true} do |f|

  = f.inputs do
    = f.input :coach
    = f.input :team_level
    = f.input :year
    = f.input :gender, :collection => Team.genders
    = f.input :name
    = f.input :teamsnap_team_id

    = f.input :crop_x, :as => :hidden
    = f.input :crop_y, :as => :hidden
    = f.input :crop_w, :as => :hidden
    = f.input :crop_h, :as => :hidden
    = f.input :image, :as => :file, :hint => f.template.image_tag(f.object.image.url(), :id => "cropbox")

    %div.error

  = f.actions do
    = f.action :submit, :label => true
    = f.action :cancel, :as => :link, :label => I18n.t('active_admin.cancel'), :wrapper_html => { :class => 'cancel' }

:javascript
  $(document).ready(soccer.image_crop.init({
    modelName: 'team',
    width: #{TeamImageUploader::ImageSize::WIDTH},
    height: #{TeamImageUploader::ImageSize::HEIGHT}
  }));