- content_for :css do
  = stylesheet_link_tag "fields"
  = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/dark-hive/jquery-ui.css"

%div.grid_16#field_header
  %h1= t 'field.heading'
  = image_tag 'field.jpg', :width => '940', :height => '142'
  %div.grid_16.alt= 'Select a field below to view location and get directions'

%div.grid_16.box#map
  -#%form#filter{action: '#'}
  -#  %span.grid_2= t 'field.filter.heading'
  -#  = t 'field.filter.club'
  -#  %select#clubFilter
  -#    %option{value: 'All'}= t 'field.filter.all'
  -#    - @clubs.each do |club|
  -#      %option= club
  -#  = t 'field.filter.status'
  -#  %span#statusFilter
  -#    %input{type: 'radio', id: 'status99', name: 'status', checked: true, value: 'All'}
  -#      %label{for: 'status99'}= t 'field.filter.all'
  -#    - @statuses.each_with_index do |status, index|
  -#      %input{type: 'radio', id: "status#{index}", name: 'status', value: "#{status}"}
  -#        %label{for: "status#{index}"}= status

  %div.grid_5.alpha{style: 'height: 100%'}
    %h2= 'Fields'
    %ul#fields{style: 'height: 100%'}

  %div#map_canvas{style: 'height: 100%'}

%script{id: 'FieldTemplate', type: 'text/html'}
  %li{id: 'field{{:id}}', class: "{{:#index%2 ? 'even' : 'odd'}}"}
    ="{{:name}}"
    -#%a{href: '#'}
      -#%img{alt: '{{:status}}', src: '/assets/{{:status}}.jpg'}
      -#="{{:name}}"
      -#%div.club= "{{:club}}"
      -#%div.rain= "{{:rain_line}}"
      -#%div.status= "{{:status}}"

- content_for :javascript do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
  = javascript_include_tag "fields"
  %script
    var fields = #{@fields.to_json.html_safe};
    $(document).ready(soccer.fields.init(fields));

