- content_for :css do
  = stylesheet_link_tag "fields"
  -#= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/dark-hive/jquery-ui.css"

%div.grid_16#field_header
  %h1= t 'field.heading'
  = image_tag 'field.jpg', :width => '940', :height => '142'
  %div.subheading.alt= 'Select a field below to view location and get directions'

%div.grid_16.box#map
  -#%form#filter{action: '#'}
  -#  %span.grid_2= t 'field.filter.heading'
  -#  = t 'field.filter.club'
  -#  %select#clubFilter
  -#    %option{value: 'All'}= t 'field.filter.all'
  -#    - @clubs.each do |club|
  -#      %option= club
  -#  = t 'field.filter.status'
  -#  %span#statusFilter
  -#    %input{type: 'radio', id: 'status99', name: 'status', checked: true, value: 'All'}
  -#      %label{for: 'status99'}= t 'field.filter.all'
  -#    - @statuses.each_with_index do |status, index|
  -#      %input{type: 'radio', id: "status#{index}", name: 'status', value: "#{status}"}
  -#        %label{for: "status#{index}"}= status

  %div.grid_5.alpha
    %h2= 'Fields'
    %ul#fields

  %div#map_canvas{style: 'height: 500px;'}

%script{id: 'FieldTemplate', type: 'text/html'}
  %li{id: 'field{{:id}}', class: "{{:#index%2 ? 'even' : 'odd'}}"}
    ="{{:name}}"
    -#%img{alt: '{{:status}}', src: '/assets/{{:status}}.jpg'}
%script{id: 'InfoWindowTemplate', type: 'text/html'}
  %div{id: 'StreetView', style: 'margin: 0; padding: 0; width: 200px; height: 150px'}
    {{if street_view}}
    %img{src: 'http://maps.googleapis.com/maps/api/streetview?size=200x150&location={{:street_view.latlng.ob}},{{:street_view.latlng.pb}}&heading={{:street_view.heading}}&sensor=false'}
    {{/if}}
  ="{{:name}}"
  %br
  ="{{:address}}"
  %br
  ="Rain Line: {{:rain_line}}"
  %hr
  %a{target: '_blank', href: "{{:mapUri}}"}
    = "Directions"

- content_for :javascript do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
  = javascript_include_tag "fields"
  %script
    var fields = #{@fields.to_json.html_safe};
    $(document).ready(soccer.fields.init(fields));

