- content_for :css do
  = stylesheet_link_tag "fields"
  = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/dark-hive/jquery-ui.css"

%h1{class: 'grid_16'}= t 'field.heading'

%div{class: 'grid_16', id: 'field_header'}
  %form{id: 'filter', action: '#'}
    %span{class: 'grid_2'}= t 'field.filter.heading'
    = t 'field.filter.club'
    %select{id: 'clubFilter'}
      %option{value: 'All'}= t 'field.filter.all'
      - @clubs.each do |club|
        %option= club
    = t 'field.filter.status'
    %span{id: 'statusFilter'}
      %input{type: 'radio', id: 'status99', name: 'status', checked: true, value: 'All'}
        %label{for: 'status99'}= t 'field.filter.all'
      - @statuses.each_with_index do |status, index|
        %input{type: 'radio', id: "status#{index}", name: 'status', value: "#{status}"}
          %label{for: "status#{index}"}= status

%div{id: 'map_canvas', class: 'grid_13'}

%div{class: 'grid_3'}
  %ul{id: 'fields'}

%script{id: 'FieldTemplate', type: 'text/html'}
  %li{id: 'field{{=id!}}', class: 'field'}
    %a{href: '#'}
      %h2="{{=name!}}"
      %div{class: 'club'}= "{{=club!}}"
      %div{class: 'rain'}= "{{=rain_line!}}"
      %div{class: 'status'}= "{{=status!}}"

- content_for :javascript do
  = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
  = javascript_include_tag "fields"
  %script
    var fields = #{@fields.to_json.html_safe};
    $(document).ready(soccer.fields.init(fields));
