/[if lt IE 7]
  %html{class: 'no-js ie6 oldie', lang: 'en'}
/[if IE 7]
  %html{class: 'no-js ie7 oldie', lang: 'en'}
/[if IE 8]
  %html{class: 'no-js ie8 oldie', lang: 'en'}
/[if gt IE 8]
  %html{class: 'no-js', lang: 'en'}

%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv'=> 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
  %title= t 'title'
  %meta{name: "description", content: ''}
  %meta{name: 'author', content: ''}
  %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
  = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/dark-hive/jquery-ui.css"
  = stylesheet_link_tag "application"
  = yield :css
  = javascript_include_tag "modernizr-2.0.6.js"
  = csrf_meta_tags

%body{class: "#{body_classes.join(' ')}"}
  %div{class: 'container_16', id: 'container'}
    %header{id: 'header'}
      %div{id: 'header_container'}
        %div{class: 'grid_1 endcap alpha first-child'}
          = link_to image_tag("logo.png", :id=>'logo'), root_path
        %div{class: 'grid_14'}
          %div{class: 'grid_7 prefix_7 push_1'}
            %ul{id: 'secondary_menu'}
              = menu_secondary
          %div{class: 'grid_12 prefix_2'}
            = image_tag "header_text.png", :alt=>  t('header_text_alt'), :style=>'display: block'
          %div{class: 'grid_12 prefix_2'}
            %ul{id: 'menu'}
              = menu
        %div{class: 'grid_1 omega endcap last-child'}

    %div{id: 'main_container'}
      %div{id: 'main_bg'}
      %div{id: 'main', role: 'main', class: ""}
        = yield
      %footer{id: 'footer'}
        %span= t('footer_copy')
      %div{class: 'clear'}
    %div{id: 'bottom_padder'}

  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"

  = yield :javascript

  :javascript
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });

    !window.jQuery && document.write(unescape('%3Cscript src="/scripts/jquery-1.6.2.min.js"%3E%3C/script%3E'))
    !window.jQuery.ui && document.write(unescape('%3Cscript src="/scripts/jquery-ui-1.8.14.min.js"%3E%3C/script%3E'))

  /[if lt IE 7 ]
    %script{src: '//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'}
    %script
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})

  - if @editable
    = javascript_include_tag "ckeditor/init"
    = javascript_include_tag "inline_editing"
