<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Player Portal
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "assets/img/favicon.ico", :rel => "icon", :type => "image/png"}
    = stylesheet_link_tag "player_portals"
    = yield :css
    = csrf_meta_tags
  %body
    .modal.fade#documentModal{tabindex: '-1', role: 'dialog'}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{data: {dismiss: 'modal'}, aria: {label: 'Close'}}
              %span{aria: {hidden: 'true'}} &times;
            %h4.modal-title
          .modal-body
            .embed-responsive.embed-responsive-4by3
              %object.embed-responsive-item{type: "application/pdf", data: '#'}
                = t('player_portal.doc_modal.pdf').html_safe
          .modal-footer
            %a.btn.btn-primary{href: "#", download: true}
              = t('player_portal.doc_modal.download')
            %button.btn.btn-default{data: {dismiss: 'modal'}}
              = t('player_portal.close')
    .modal.fade#imageModal{tabindex: '-1', role: 'dialog'}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{data: {dismiss: 'modal'}, aria: {label: 'Close'}}
              %span{aria: {hidden: 'true'}} &times;
            %h4.modal-title
          .modal-body
            %img{width: '300'}
          .modal-footer
            %button.btn.btn-default{data: {dismiss: 'modal'}}
              = t('player_portal.close')

    /[if lt IE 10]
      .ie-warning.alert.alert-danger.alert-dismissable
        %button.close{type: "button", data: {dismiss: "alert"}, aria: {hidden: "true"}}
          &times;
        = t('player_portal.bad_browser').html_safe

    .image-container.set-full-height

      %nav.navbar.navbar-default{role: "navigation"}
        .navbar-header
          %button.navbar-toggle{type: "button", data: {target: "#navbarCollapse", toggle: "collapse"} }
            %span.sr-only
              = t 'player_portal.sr_toggle_nav'
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand
            = image_tag "logo.png", width: 86, height: 100


        #navbarCollapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: ('active' if current_page?(action: 'index'))}
              %a{href: "#{player_portal_path}"}
                = t('player_portal.menu.home')
            %li{class: ('active' if current_page?(action: 'registration'))}
              %a{href: "#{player_portal_registration_path}"}
                = t('player_portal.menu.registration')
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#{player_portal_logout_path}"}
                = t('player_portal.menu.logout')

      / Big container
      .container
        = yield

  = javascript_include_tag "player_portals"
  = yield :javascript

  :javascript
      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', "#{analytics_tracking_id}", 'auto');
      ga('send', 'pageview');

      // End Google Analytics
