%html
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    %title
      Central Marin Soccer Club Registration Confirmation
    :css
      body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
      .divider { background-color:#555555; height:2px; }
      .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
      .episode p { margin:8px 0; }
      .episode img { border:solid 1px #777777; }
      .episode .duration { font-size:11px;color:#555555; }
      #footer { font-size:11px; color:#555555; }
      #footer a { color:#555555;}
  %body
    %p
      = "This email confirms that #{@registration.first} #{@registration.last} has been registered for tryouts."

    %p
      Please verify the following information is correct.
      %ul
        %li
          = "Address: #{@registration.home_address}"
        %li
          = "Home Phone: #{@registration.home_phone}"
        %li
          = "Player's birthdate: #{@registration.birthdate}"
        %li
          %ul
            %li
              = "Parent Name: #{@registration.parent1_first} #{@registration.parent1_last}"
            %li
              = "Parent Cell Phone: #{@registration.parent1_cell}"
            %li
              = "Parent Email: #{@registration.parent1_email}"
        %li
          %ul
            %li
              = "Parent Name: #{@registration.parent2_first} #{@registration.parent2_last}"
            %li
              = "Parent Cell Phone: #{@registration.parent2_cell}"
            %li
              = "Parent Email: #{@registration.parent2_email}"

    %p
      -#= render :partial => 'tryout_info'


    Any problems, please contact tryouts@centralmarinsoccer.com
